//animation----------------------------------//
@include keyframes(flowPC){
	0%{
		transform:skew(-11deg) translateY(0);
	}
	50%{
		transform:skew(-11deg) translateY(10px);
	}
	100%{
		transform:skew(-11deg) translateY(0);
	}
}
@include keyframes(flowSp){
	0%{
		transform:translateY(0);
	}
	50%{
		transform:translateY(10px);
	}
	100%{
		transform:translateY(0);
	}
}