@font-face {
    font-family: 'icomoon';
    src:    url('../fonts/icomoon.eot?own366');
    src:    url('../fonts/icomoon.eot?own366#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?own366') format('truetype'),
    url('../fonts/icomoon.woff?own366') format('woff'),
    url('../fonts/icomoon.svg?own366#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-phone:before {
    content: "\e900";
}

