//変数*****************************************************//
//color
$orange:#e2540a;
$green:#00944c;
$gray:#f2f2f2;
$lgray:#e5e5e5;
$lgray2:#f7f7f7;
$dgray:#7b7c7c;
$dgray2:#505050;
$black:#525d63;
//fonts
$baseFont:"Helvetica Neue", Avenir , "Open Sans" , Helvetica , Arial , Verdana , Roboto , "游ゴシック" , "Yu Gothic" , "游ゴシック体" , "YuGothic" , "ヒラギノ角ゴ Pro W3" , "Hiragino Kaku Gothic Pro" , "Meiryo UI" , "メイリオ" , Meiryo , "ＭＳ Ｐゴシック" , "MS PGothic" , sans-serif;
$minchou: "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;
//breakpoint
$bp_i5: 320px;
$bp_i6: 375px;
$bp_sp_h: 568px;
$bp_tab_v: 768px;
$bp_tab_h: 980px;
$bp_pc: 1024px;
//mixin****************************************************//
//center
@mixin center($width){
	max-width:($width);
	margin:0 auto;
}
//font-size
@mixin fz($size) {
	font-size:($size)+px;
	font-size:($size/10)+rem;
}
//animation
@mixin animation($animation-name) {
	-webkit-animation: $animation-name;
	-moz-animation: $animation-name;
	animation: $animation-name;
	-webkit-animation-fill-mode: both;
	-moz-animation-fill-mode: both;
	animation-fill-mode: both;
}
@mixin keyframes($animation-name) {
	@-webkit-keyframes #{$animation-name} {
		@content;
	}
	@-moz-keyframes #{$animation-name} {
		@content;
	} 
	@keyframes #{$animation-name} {
		@content;
	}
}
//media-query mixin
@mixin max-screen($break-point) {
	@media screen and (max-width: $break-point) {
		@content;
	}
}
@mixin min-screen($break-point) {
	@media screen and (min-width: $break-point) {
		@content;
	}
}
@mixin screen($break-point-min, $break-point-max) {
	@media screen and (min-width: $break-point-min) and (max-width: $break-point-max) {
		@content;
	}
}
//placeholder-color
@mixin placeholderColor($color) {
	&:placeholder-shown {
		color: $color;
	}
	&::-webkit-input-placeholder {
		color:$color;
	}
	&:-moz-placeholder {
		color:$color;
		opacity: 1;
	}
	&::-moz-placeholder {
		color:$color;
		opacity: 1;
	}
	&:-ms-input-placeholder {
		color:$color;
	}
}
//placeholder
@mixin placeholder {
	&:placeholder-shown {
		@content;
	}
	&::-webkit-input-placeholder {
		@content;
	}
	&:-moz-placeholder {
		opacity: 1;
		@content;
	}
	&::-moz-placeholder {
		opacity: 1;
		@content;
	}
	&:-ms-input-placeholder {
		@content;
	}
}