@charset "UTF-8";
@import "easing";
@import "mixin";
@import "icon";
//base setting*******************************************************//
html {
	font-size: 62.5%;
}

body {
	@include fz(12);
	font-family:$baseFont;
	font-weight: normal;
	color: #000;
	background: #fff;
	word-wrap: break-word;
	overflow-wrap: break-word;
	-webkit-text-size-adjust: 100%;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
h1, h2, h3, h4, h5, h6 {
	font-family:$baseFont;
	font-weight: 300;
}
a {
	text-decoration: none;
	color: #000;
	transition:all .3s $ease-out-quad;
	backface-visibility:hidden;
}
input,select,textarea,button{
	appearance:none;
	font-weight: normal;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	line-height: 1;
	background:none;
	border:none;
	outline:none;
	border-radius:0;
	cursor:pointer;
	transition:all .3s $ease-out-quad;
	&:focus{
		box-shadow:none;
		outline:none;
		border:none;
	}
	@include placeholder {
		font-family:$baseFont;
		font-weight: 300;
	}
}
label{
	cursor:pointer;
}
li {
	list-style:none;
}
img{
	width:100%;
	height:auto;
	backface-visibility:hidden;
}