@import "reset";
@import "setting";
@import "swiper";
@import "slider-pro";
@import "validationEngine.jquery";
@import "photoswipe";
@import "default-skin";
//common **********************//
.l_wrapper{
	background:#fff;
}
.l_container{
	padding:0 0 60px;
	background:url(../images/decoration-2.png) no-repeat bottom -2px center;
	background-size:contain;
	@include min-screen($bp_tab_v) {
		background-size:690px;
	}
}
.no_scroll{
	overflow: hidden;
}
//commmn parts ****************//
.btn{
	display: block;
	position: relative;
	z-index: 1;
	width:100%;
	max-width:230px;
	text-align: center;
	margin:0 auto;
	@include fz(15);
	line-height:55px;
	background:$gray;
	border:1px solid #000;
	border-bottom:none;
	&::before,&::after{
		content:"";
		display: block;
		position: absolute;
		bottom:-1px;
		z-index: 10;
		width: 24%;
		height:1px;
		background:#000;
		transition:all .3s $ease-out-quad;
	}
	&::before{
		left:0;
	}
	&::after{
		right:0;
	}
	&:hover{
		color:$orange;
		background:#fff;
		border-color:$orange;
		box-shadow:0 0 0 5px rgba($orange,.8);
		&::before,&::after{
			width:100%;
			background:$orange;
		}
	}
}
//header **************************//
.l_header{
	position: relative;
	@include min-screen($bp_tab_v) {
		background:#fff;
		height:80px;
	}
	@include min-screen($bp_pc) {
		height:auto;
	}
}
.header_inner{
	@include min-screen($bp_pc) {
		position: relative;
		@include center(1024px);
		padding:20px 20px 40px 160px;
	}
}
.header_logo{
	position: absolute;
	top:0;
	left:0;
	z-index: 10;
	width:80px;
	text-align: center;
	background:rgba(#fff,.8);
	@include min-screen($bp_tab_v) {
		left:40px;
		width:90px;
		padding:20px 0 0;
		background:none;
	}
	img{
		width:60px;
		@include min-screen($bp_tab_v) {
			width:65px;
		}
		@include min-screen($bp_pc) {
			width:100%;
		}
	}
	a{
		display: block;
		padding:10px 0;
	}
}
.header_top_logo{
	@include min-screen($bp_tab_v) {
		left:20px;
		width:100px;
		height:150px;
		padding:40px 0 15px;
		transform:skew(11deg);
		background:rgba(#fff,.8);
	}
	@include min-screen($bp_pc) {
		width:150px;
		height:220px;
		padding:60px 0 20px;
	}
	img{
		@include min-screen($bp_tab_v) {
			width:65px;
			transform:skew(-11deg);
		}
		@include min-screen($bp_pc) {
			width:100px;
		}
	}
	a{
		@include min-screen($bp_tab_v) {
			padding:0;
		}
	}
}
//スマホ・タブレットナビ *****************//
.header_menu_btn{
	overflow: hidden;
	position:absolute;
	top:0;
	left:0;
	z-index: 9999;
	width:50px;
	height:50px;
	background:rgba(#fff,.8);
	transform:translate3d(-100%,0,0);
	transition:all .3s $ease-in-out-sine;
	@include min-screen($bp_tab_v) {
		width:80px;
		height:80px;
		cursor:pointer;
	}
	@include min-screen($bp_pc) {
		display: none;
	}
	ul{
		position: absolute;
		top:0;
		right:0;
		bottom:0;
		left:0;
		z-index: 10;
		width:20px;
		height:15px;
		margin:auto;
		@include min-screen($bp_tab_v) {
			width:30px;
			height:17px;
		}
	}
	li{
		position: absolute;
		width:100%;
		height:1px;
		background:#000;
		transition:all .3s $ease-in-out-sine .2s;
		&:nth-child(1){
			top:0;
		}
		&:nth-child(2){
			top:0;
			bottom:0;
			margin:auto;
		}
		&:nth-child(3){
			bottom:0;
		}
	}
	&.open{
		background:rgba(#fff,.9);
		li{
			&:nth-child(1){
				transform:translateY(7px) rotate(45deg);
				@include min-screen($bp_tab_v) {
					transform:translateY(8px) rotate(45deg);
				}
			}
			&:nth-child(2){
				opacity:0;
			}
			&:nth-child(3){
				transform:translateY(-7px) rotate(-45deg);
				@include min-screen($bp_tab_v) {
					transform:translateY(-8px) rotate(-45deg);
				}
			}
		}
	}
}
.header_tel_btn{
	position: absolute;
	top:0;
	right:50px;
	z-index: 100;
	width:50px;
	height:50px;
	@include min-screen($bp_tab_v) {
		display: none;
	}
	a{
		display: block;
		width:100%;
		height:100%;
		text-align: center;
		line-height: 50px;
		@include fz(20);
		background:rgba(#fff,.8);
	}
}
.header_sp_nav_wrap{
	padding:60px 20px;
}
.header_sp_nav{
	position:fixed;
	top:0;
	right:0;
	z-index: 9998;
	width:85%;
	height:100%;
	background:rgba(#fff,.9);
	transform:translate3d(100%,0,0);
	transition:all .3s $ease-in-out-sine;
	@include min-screen($bp_tab_h) {
		display: none;
	}
	&.active{
		transform:translate3d(0,0,0);
		nav{
			visibility: visible;
		}
	}
	nav{
		visibility: hidden;
		padding:0 20px 100px;
		@include min-screen($bp_tab_v) {
			padding:0 60px 100px;
		}
	}
}
.header_sp_nav_list{
	li{
		border-top:1px solid rgba(#000,.3);
		&:last-child{
			border-bottom:1px solid rgba(#000,.3);
		}
	}
	a{
		display: block;
		@include fz(15);
		line-height: 45px;
		color:#000;
		@include min-screen($bp_tab_v) {
			@include fz(18);
			line-height: 60px;
		}
	}
	.logo{
		padding:10px 0;
		text-align: center;
		border:none;
		@include min-screen($bp_tab_v) {
			padding:30px 0;
		}
		a{
			display: inline-block;
		}
		img{
			width:45px;
			@include min-screen($bp_tab_v) {
				width:60px;
			}
		}
	}
	.reserve{
		margin:0 0 2px;
		border:none;
		a{
			color:#fff;
			background:$orange;
			&::before{
				background:$orange;
			}
			&::after{
				box-shadow: 0 0 0 2px $orange inset, 0 0 0 3px rgba(#fff, 0.5) inset;
			}
			
		}
	}
	.contact{
		margin:0 0 2px;
		border:none;
		a{
			color:#fff;
			background:$green;
			&::before{
				background:$green;
			}
			&::after{
				box-shadow: 0 0 0 2px $green inset, 0 0 0 3px rgba(#fff, 0.5) inset;
			}
		}
	}
	.sp_nav_btn{
		position: relative;
		z-index: 1;
		text-align: center;
		&::before, &::after{
			content:"";
			display: block;
			position: absolute;
		}
		&::before{
			right: 0;
			bottom: 0;
			left: 0;
			z-index: 10;
			width: 30%;
			height: 3px;
			margin: auto;
		}
		&::after{
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			width: 100%;
			height: 100%;
			margin: auto;
			z-index: 5;
		}
	}
}
.header_sp_nav_child{
	li{
		&:last-child{
			border-bottom:none;
		}
	}
	a{
		position: relative;
		padding:0 0 0 35px;
		&::before{
			content:"";
			display: block;
			position: absolute;
			top:0;
			bottom:0;
			left:15px;
			z-index: 10;
			width:10px;
			height:10px;
			margin:auto;
			border:5px solid transparent;
			border-left:5px solid #000;
		}
	}
}
.overlay{
	position: fixed;
	top:0;
	width:100%;
	height:100%;
	z-index: 1000;
	visibility:hidden;
	background:rgba(#000,.6);
	opacity:0;
	transition:all .3s $ease-out-quad;
	&.active{
		visibility: visible;
		opacity:1;
	}
}
//PC ナビ **************************//
.header_navi_area{
	@include min-screen($bp_pc) {
		display:flex;
		justify-content:flex-end;
	}
}
.header_gnavi{
	display: none;
	@include min-screen($bp_pc) {
		display: block;
		flex-basis:55%;
	}
}
.header_gnavi_list{
	@include min-screen($bp_pc) {
		position: relative;
		z-index: 1;
		display:table;
		table-layout: fixed;
		border-collapse:collapse;
		width:100%;
	}
	li{
		@include min-screen($bp_pc) {
			display: table-cell;
			vertical-align: middle;
			width:20%;
			padding:0 1px;
			border-right:1px solid $gray;
			border-left:1px solid $gray;
		}
	}
	.current{
		@include min-screen($bp_pc) {
			visibility: visible;
			opacity: 1;
		}
	}
	a{
		@include min-screen($bp_pc) {
			position: relative;
			z-index: 1;
			display: block;
			text-align: center;
			line-height:48px;
			&:after{
				content:"";
				display: block;
				position: absolute;
				bottom:0;
				z-index: 10;
				width:100%;
				height:2px;
				background:#000;
				transition:all .3s $ease-out-quad;
			}
		}
		&:hover{
			@include min-screen($bp_pc) {
				color:$orange;
				&:after{
					background:$orange;
				}
			}
		}
	}
	.active{
		color:$orange;
		border-bottom-color:$orange;
		& > a{
			@include min-screen($bp_tab_h) {
				color:$orange;
				&:after{
					background:$orange;
				}
			}
		}
	}
}
.header_gnavi_child{
	display: none;
	@include min-screen($bp_pc) {
		visibility: hidden;
		position: absolute;
		left:0;
		bottom:-40px;
		z-index: 10;
		display:flex;
		opacity:0;
		transition:all .3s $ease-out-quad;
	}
	a{
		@include min-screen($bp_pc) {
			padding:0 15px;
			line-height:38px;
			border-bottom:2px solid transparent;
			&:after{
				content:none;
			}
		}
	}
}
.header_gnavi_child_01{
	@include min-screen($bp_pc) {
		width:1024px-170px;
	}
}
.header_gnavi_child_02{
	@include min-screen($bp_pc) {
		left:60%;
		width:40%;
	}
}
.header_links{
	display: none;
	@include min-screen($bp_tab_v) {
		position: absolute;
		top: 50%;
		right: 80px;
		z-index: 100;
		display:flex;
		justify-content:flex-end;
		transform: translateY(-50%);
		width: 60%;
	}
	@include min-screen($bp_pc) {
		position: static;
		flex-basis:45%;
		width:auto;
		transform:none;
	}
}
.header_contact{
	@include min-screen($bp_tab_v) {
		display:flex;
		justify-content:space-around;
		width:45%;
		padding: 0 2px;
	}
	a{
		@include min-screen($bp_tab_v) {
			position: relative;
			z-index: 1;
			display: block;
			width:48%;
			height: 50px;
			text-align: center;
			vertical-align: middle;
			@include fz(10);
			line-height:1.4;
			color:#fff;
		}
		span{
			@include min-screen($bp_tab_v) {
				display: block;
			}
		}
		&::before,&::after{
			@include min-screen($bp_tab_v) {
				content:"";
				display: block;
				position: absolute;
			}
		}
		&::before{
			@include min-screen($bp_tab_v) {
				right:0;
				bottom:0;
				left:0;
				z-index: 10;
				width:20px;
				height:3px;
				margin:auto;
			}
		}
		&::after{
			@include min-screen($bp_tab_v) {
				top:0;
				right:0;
				bottom:0;
				left:0;
				width:100%;
				height:100%;
				margin:auto;
				z-index: 5;
			}
		}
	}
	.reserve{
		@include min-screen($bp_tab_v) {
			padding:17px 0 0;
			background:$orange;
		}
		&::before{
			@include min-screen($bp_tab_v) {
				background:$orange;
			}
		}
		&:after{
			@include min-screen($bp_tab_v) {
				box-shadow:0 0 0 2px $orange inset,0 0 0 3px rgba(#fff,.5) inset;
			}
		}
		&:hover{
			@include min-screen($bp_tab_v) {
				opacity:.8;
			}
		}
	}
	.contact{
		@include min-screen($bp_tab_v) {
			padding:10px 0 0;
			background:$green;
		}
		&::before{
			@include min-screen($bp_tab_v) {
				background:$green;
			}
		}
		&:after{
			@include min-screen($bp_tab_v) {
				box-shadow:0 0 0 2px $green inset,0 0 0 3px rgba(#fff,.5) inset;
			}
		}
		&:hover{
			@include min-screen($bp_tab_v) {
				opacity:.8;
			}
		}
	}
}
.header_aside{
	@include min-screen($bp_tab_v) {
		width:55%;
	}
}
.header_external{
	@include min-screen($bp_tab_v) {
		display:flex;
		justify-content:space-between;
	}
	a{
		@include min-screen($bp_tab_v) {
			display: inline-block;
			text-align: center;
			@include fz(10);
			line-height:20px;
			border:1px solid $dgray;
		}
		&:first-child{
			@include min-screen($bp_tab_v) {
				flex-basis:31%;
			}
		}
		&:last-child{
			@include min-screen($bp_tab_v) {
				flex-basis:68%;
			}
		}
		&:hover{
			@include min-screen($bp_tab_v) {
				color:#fff;
				background:$orange;
				border-color:$orange;
			}
		}
	}
}
.header_tel{
	display: none;
	@include min-screen($bp_tab_v) {
		display: block;
		padding:5px 0 0;
	}
}
//footer **************************//
.l_footer{
	background:$dgray;
}
.footer_inner{
	position: relative;
	padding:30px 0;
	@include min-screen($bp_tab_v) {
		padding:45px 0 30px;
	}
	@include min-screen($bp_tab_h) {
		@include center(1024px);
	}
}
.footer_pagetop{
	position: absolute;
	top:-70px;
	right:0;
	left:0;
	display: block;
	width:40px;
	margin:0 auto 20px;
	@include min-screen($bp_tab_v) {
		right:30px;
		left:initial;
		z-index: 1000;
		border-radius:50%;
		&:hover{
			transform:scale(1.1) rotate(360deg);
		}
	}
	@include min-screen($bp_tab_h) {
		width:60px;
		right:60px;
	}
}
.footer_navi{
	display:flex;
	justify-content:space-between;
	flex-wrap:wrap;
	padding:0 30px;
	@include min-screen($bp_tab_v) {
		justify-content:center;
		width:768px;
		margin:0 auto;
		padding:0;
	}
	li{
		flex-basis:49%;
		text-align: center;
		@include min-screen($bp_tab_v) {
			flex-basis:auto;
			border-left:1px solid #fff;
		}
		&:first-child{
			@include min-screen($bp_tab_v) {
				border-left:none;
			}
		}
	}
	a{
		display: block;
		@include fz(12);
		line-height: 40px;
		color:#fff;
		border-bottom:1px solid rgba(#fff,.3);
		@include min-screen($bp_tab_v) {
			padding:0 15px;
			line-height: 1.6;
			border:none;
		}
		&:hover{
			@include min-screen($bp_tab_v) {
				color:$orange;
				background:#fff;
			}
		}
	}
}
.footer_list{
	padding: 30px 30px 0;
	@include min-screen($bp_tab_v) {
		display:flex;
		flex-wrap:wrap;
		justify-content:center;
		padding: 30px;
		width:768px;
		margin:0 auto;
	}
	@include min-screen($bp_pc) {
		padding:30px 0;
	}
}
.footer_tel{
	@include center(270px);
	@include min-screen($bp_tab_v) {
		width:30%;
		max-width:initial;
		padding:0 0 0 10px;
		margin:0;
	}
	@include min-screen($bp_pc) {
		width:260px;
	}
	p{
		padding:0 0 10px;
		color:#fff;
		@include min-screen($bp_tab_v) {
			@include fz(10);
		}
	}
	span{
		margin:0 5px 0 0;
		@include min-screen($bp_pc){
			margin:0;
			letter-spacing: 10px;
		}
	}
	a{
		@include min-screen($bp_tab_v) {
			display: block;
			max-width:215px;
			cursor:default;
		}
	}
}
.footer_link_list{
	padding:20px 0;
	@include min-screen($bp_tab_v) {
		width: 70%;
		display: table;
		table-layout: fixed;
		border-collapse:separate;
		border-spacing:10px 0;
		padding:0;
	}
	@include min-screen($bp_pc) {
		width: 768px-270px;
	}
	a{
		display: block;
		text-align: center;
		margin:0 0 5px;
		line-height: 45px;
		@include min-screen($bp_tab_v) {
			display: table-cell;
			vertical-align: middle;
			line-height: 1.6;
		}
	}
	span{
		@include min-screen($bp_tab_v) {
			display: block;
		}
	}
}
.footer_link{
	color:#fff;
	border:1px solid #fff;
	@include fz(14);
	@include min-screen($bp_tab_v) {
		width:80px;
		@include fz(10);
	}
	&:hover{
		@include min-screen($bp_tab_v) {
			background:$orange;
		}
	}
}
.footer_contact{
	color:#000;
	background:#fff;
	@include fz(14);
	@include min-screen($bp_tab_v) {
		width:100px;
		@include fz(12);
	}
	@include min-screen($bp_pc) {
		width:145px;
	}
	&:hover{
		@include min-screen($bp_tab_v) {
			color:#fff;
		}
	}
	&.reserve{
		&:hover{
			background:$orange;
		}
	}
	&.contact{
		&:hover{
			background:$green;
		}
	}
}
.copyright{
	text-align: center;
	color:#fff;
}
//top *******************************//
//スライダー -----------//
.top_hero{
	height: 100vh;
	@include min-screen($bp_tab_v) {
		height:500px;
	}
}
.hero_slide{
	position: relative;
	height:100%;

}
.hero_slide_inner{
	position: relative;
	height:100%;
	@include min-screen($bp_tab_v) {
		@include center(980px);
	}
}
.hero_slide_logo {
	position: absolute;
	top:0;
	right:0;
	bottom:0;
	left:0;
	z-index: 100;
	display: block;
	width:125px;
	height:125px;
	line-height:125px;
	margin:auto;
	text-align: center;
	background:rgba(#fff,.8);
	@include min-screen($bp_tab_v) {
		right:30px;
		left:initial;
		width:180px;
		height:180px;
		line-height:180px;
	}
	@include min-screen($bp_pc) {
		right:0;
	}
	img{
		width:80px;
		vertical-align: middle;
		@include min-screen($bp_tab_v) {
			width:110px;
		}
	}
	&:hover{
		@include min-screen($bp_tab_v) {
			background:rgba(#fff,1);
			box-shadow:5px 5px 0 0 rgba($dgray,.8);
		}
	}

}
@for $i from 1 through 5 {
	.hero_slide_0#{$i} {
		background:url(../images/top-slide-0#{$i}.jpg) no-repeat center center;
		background-size:cover;
	}
}
.top_page_down{
	position: absolute;
	right:0;
	bottom:15%;
	left:0;
	z-index: 1000;
	width:40px;
	height:40px;
	margin:auto;
	@include min-screen($bp_tab_v) {
		bottom:0;
		width:100%;
		height:auto;
		@include center(1024px);
		padding:0 0 0 110px;
	}
	@include min-screen($bp_pc) {
		padding:0 0 0 122px;
	}
}
.top_page_down_inner{
	@include min-screen($bp_tab_v) {
		width:100px;
		height:90px;
		transform:skew(11deg);
		background:rgba(#fff,.8);
	}
	@include min-screen($bp_pc) {
		width:150px;
	}
	a{
		position: absolute;
		top:0;
		right:0;
		bottom:0;
		left:0;
		z-index: 10;
		display: block;
		width:40px;
		height:40px;
		margin:auto;
		vertical-align: middle;
		border-radius:50%;
		@include animation(flowSp 1.5s ease-in-out infinite);
		@include min-screen($bp_tab_v) {
			@include animation(flowPC 1.5s ease-in-out infinite);
			transform:skew(-11deg);
		}
	}
}
//feature --------------------//
.top_feature_wrap{
	@include min-screen($bp_tab_v) {
		overflow: hidden;
		padding:10px 0;
		background:$dgray2;
	}
}
.top_feature{
	@include min-screen($bp_tab_v) {
		position: relative;
		background:url(../images/feature-visual.jpg) no-repeat top right;
		background-size:cover;
	}
}
.top_feature_inner{
	overflow: hidden;
	position: relative;
	width:100%;
	height:60vh;
	background:url(../images/feature-visual.jpg) no-repeat top center;
	background-size:cover;
	&::before,&::after{
		content:"";
		display: block;
		position: absolute;
		z-index: 5;
		width:100%;
		height:10px;
		background:$dgray2;
	}
	&::before{
		top:0;
	}
	&::after{
		bottom:0;
	}
	@include min-screen($bp_sp_h) {
		height:100vh;
	}
	@include min-screen($bp_tab_v) {
		overflow: visible;
		height:500px;
		@include center(1024px);
		background:none;
		&::before,&::after{
			content:none;
		}
	}
	@include min-screen($bp_pc) {
		height:715px;
	}
}
.top_feature_band{
	position: absolute;
	top:50%;
	left:30%;
	z-index: 10;
	width:100px;
	height:120%;
	background:rgba(#fff,.8);
	transform:translateY(-50%) skew(11deg);
	@include min-screen($bp_tab_v) {
		top:-10px;
		left: 177px;
		transform:skew(11deg);
	}
	@include min-screen($bp_pc) {
		width:150px;
		left: 214px;
	}
	img{
		position: absolute;
		top:0;
		bottom:0;
		left:10px;
		width:50px;
		margin:auto;
		transform:skew(-11deg);
		@include min-screen($bp_tab_v) {
			top:45px;
			bottom:initial;
		}
		@include min-screen($bp_pc) {
			width:80px;
		}
	}
}
.top_feature_content{
	padding:30px 0;
	@include min-screen($bp_tab_v) {
		position: absolute;
		top:0;
		right:0;
		left:0;
		z-index: 100;
		width:100%;
		height:100%;
		@include center(768px);
	}
	@include min-screen($bp_pc) {
		@include center(1024px);
	}
	p{
		text-align: center;
		font-family: $minchou;
		@include fz(14);
		line-height: 2;
		@include min-screen($bp_tab_v) {
			position: absolute;
			top:50%;
			right:0;
			z-index: 100;
			padding:20px;
			text-align: left;
			line-height: 2;
			background:rgba(#fff,.6);
			transform:translateY(-50%);
		}
		@include min-screen($bp_pc) {
			line-height: 3;
		}
	}
	span{
		display: block;
	}
}
.top_feature_btn{
	margin:30px auto 0;
	font-family: $baseFont;
	font-weight: normal;
	@include min-screen($bp_tab_v) {
		margin:30px 0 0;
	}
	@include min-screen($bp_tab_h) {
		margin:60px 0 0;
	}
}
//新着情報＆イベント -------------//
.top_news_container{
	padding:60px 30px 0;
	@include min-screen($bp_tab_v) {
		padding:0;
	}
}
.top_news_inner{
	padding:0 0 60px;
	background:url(../images/decoration-1.png) no-repeat bottom center;
	background-size:contain;
	@include min-screen($bp_tab_v) {
		width:690px;
		margin:0 auto;
		padding:60px 0 115px;
	}
}
.top_common_title{
	span{
		position: relative;
		z-index: 1;
		display: inline-block;
		padding:20px 15px;
		@include fz(14);
		color:#646464;
		&::before{
			content:"";
			position: absolute;
			top:10px;
			left:0;
			display: block;
			width:100%;
			height:4px;
			border-radius:4px;
			background:#000;
		}
	}
}
.top_news_title{
	width:238px;
	margin:0 auto;
	text-align: center;
}
.top_post_list{
	margin:0 0 45px;
	@include min-screen($bp_sp_h) {
		display:flex;
		flex-wrap:wrap;
	}
	dt{
		@include fz(14);
		@include min-screen($bp_sp_h) {
			flex-basis:20%;
			padding:30px 0 0;
			text-align: center;
			line-height: 30px;
			border-bottom:2px solid #3f3f3f;
		}
	}
	dd{
		position: relative;
		z-index: 1;
		margin:0 0 20px;
		border-bottom:2px solid #d6d5d6;
		@include min-screen($bp_sp_h) {
			flex-basis:80%;
			min-width: 0;
			margin:0;
		}
		&::before{
			content:"";
			display: block;
			position: absolute;
			bottom:-2px;
			left:0;
			z-index: 10;
			width:25%;
			height:2px;
			background:#3f3f3f;
			@include min-screen($bp_sp_h) {
				content:none;
			}
		}
		a{
			display: block;
			@include fz(14);
			line-height: 1.6;
			padding:5px 0;
			@include min-screen($bp_sp_h) {
				display: block;
				overflow: hidden;
				white-space: nowrap;
				text-overflow: ellipsis;
				margin:0;
				padding:30px 20px 0;
				line-height: 30px;
			}
			&:hover{
				@include min-screen($bp_tab_v) {
					color:$orange;
				}
			}
		}
	}
}
//blog -------------------//
.top_blog_container{
	padding:60px 30px;
	@include min-screen($bp_tab_v) {
		padding:0;
	}
}
.top_blog_inner{
	@include min-screen($bp_tab_v) {
		width:690px;
		margin:0 auto;
		padding:60px 0 45px;
	}
}
.top_blog_title{
	width:85px;
	margin:0 auto;
	text-align: center;
}
.top_blog_btn{

}
//middle_visual ----------//
.top_middle_visual{
	overflow: hidden;
	position: relative;
	z-index: 1;
	height:120px;
	@include min-screen($bp_tab_v) {
		height:245px;
	}
	img{
		position: absolute;
		top:50%;
		left:50%;
		width:auto;
		height:100%;
		z-index: 10;
		transform:translate3d(-50%,-50%,0);
		@include min-screen($bp_tab_v) {
			width:100%;
			height:auto;
		}
	}
}
//product ----------------//
.top_product_container{
	padding:60px 30px;
	@include min-screen($bp_tab_v) {
		padding:0;
	}
}
.top_product_inner{
	@include min-screen($bp_tab_v) {
		width:745px;
		margin:0 auto;
		padding:45px 0 115px;
	}
}
.top_product_title{
	width:160px;
	margin:0 auto;
	text-align: center;
}
.top_product_list{
	@include min-screen($bp_sp_h) {
		display:flex;
		flex-wrap:wrap;
		justify-content:space-between;
	}
	li{
		margin:0 0 30px;
		@include min-screen($bp_sp_h) {
			width:48%;
		}
		@include min-screen($bp_tab_v) {
			width:32%;
			margin:0 0 60px;
		}
		@include min-screen($bp_pc) {
			width:240px;
		}
		&:last-child{
			margin:0;
		}
	}
	a{
		overflow: hidden;
		position: relative;
		z-index: 1;
		display: block;
		&:hover{
			.top_product_item_bg {
				@include min-screen($bp_tab_v) {
					filter:brightness(80%);
				}
			}
			.top_product_item_logo{
				@include min-screen($bp_tab_v) {
					transform:scale(1.2);
				}
			}
		}
	}
	p{
		padding:12px 0 0;
		@include fz(14);
		line-height: 1.6;
		@include min-screen($bp_tab_v) {
			@include fz(12);
			line-height: 2;
		}
	}
}
.top_product_item_bg{
	@include min-screen($bp_tab_v) {
		transition:all .3s $ease-out-quad;
	}
}
.top_product_item_logo{
	position: absolute;
	bottom:10px;
	left:10px;
	width:100px;
	padding:10px;
	background:#fff;
	@include min-screen($bp_tab_v) {
		transform-origin:bottom left;
		transform:scale(1);
		transition:all .3s $ease-out-quad;
	}
}
.top_product_banner{
	a{
		display: table;
		table-layout: fixed;
		width:100%;
		@include min-screen($bp_tab_v) {
			box-shadow:0 0 0 2px #fff;
		}
	}
	.after{
		.caption{
			background:$green;
		}
		&:hover{
			@include min-screen($bp_tab_v) {
				box-shadow:0 0 0 2px $green;
			}
		}

	}
	.reform{
		.caption{
			background:$orange;
		}
		&:hover{
			@include min-screen($bp_tab_v) {
				box-shadow:0 0 0 2px $orange;
			}
		}
	}
	.caption{
		display: table-cell;
		width:50%;
		vertical-align: middle;
		text-align: center;
		@include fz(14);
		line-height: 1.4;
		color:#fff;
		@include min-screen($bp_tab_v) {
			transition:all .3s $ease-out-quad;
		}
	}
	.pic{
		display: table-cell;
		width:50%;
		vertical-align: middle;
	}
	p{
		padding:5px 0 30px;
		@include min-screen($bp_tab_v) {
			padding:8px 0;
			line-height: 1;
		}
	}

}
.top_product_btn{
	display:flex;
	justify-content:space-between;
	@include min-screen($bp_tab_v) {
		display: block;
		text-align: center;
	}
	.btn{
		width:48%;
		margin:0;
		@include fz(12);
		@include min-screen($bp_tab_v) {
			display: inline-block;
			width:100%;
			margin:0 25px;
			@include fz(15);
		}
	}
}
//内部ページ共通 ************************//
.page_title_wrap{
	position: relative;
	z-index: 1;
	padding: 120px 0 30px;
	text-align: center;
	@include min-screen($bp_tab_v) {
		padding:70px 80px 60px 0;
		text-align: right;
	}
	@include min-screen($bp_pc) {
		@include center(1024px);
	}
}
.page_title{
	display: inline-block;
	text-align: center;
	span{
		position: relative;
		z-index: 1;
		display: inline-block;
		padding:20px 15px 0;
		@include fz(14);
		color:#646464;
		&::before{
			content:"";
			position: absolute;
			top:10px;
			left:0;
			display: block;
			width:100%;
			height:4px;
			border-radius:4px;
			background:#000;
		}
	}
}
//about ******************************//
.about_title_wrap{
	@include min-screen($bp_tab_v) {
		padding-top:20px;
	}
}
.about_title{
	width:117px;
	span{
		padding: 20px 5px 0;
	}
}
.about_contents{
	padding:0 0 30px;
	@include min-screen($bp_tab_v) {
		padding:0 0 90px;
	}
}
.about_page_down{
	width:40px;
	height:40px;
	margin:10px auto 0;
	@include min-screen($bp_tab_v) {
		position: absolute;
		bottom:30px;
		left:130px;
		z-index: 10;
		margin:0 auto;
	}
	a{
		display: block;
		@include animation(flowSp 1.5s ease-in-out infinite);
	}		
}
.about_contents_inner{
	position: relative;
	z-index: 1;
	height:100%;
	@include min-screen($bp_pc) {
		@include center(1024px);
	}
}
.about_parallax{
	overflow: hidden;
	position: relative;
	z-index: 1;
	height:100vh;
	transform:translate3d(0,0,0);
	@include min-screen($bp_tab_v) {
		max-height:60vh;
		min-height:500px;
	}
	@include min-screen($bp_tab_h) {
		max-height:100%;
	}
}
.about_feature{
	height:auto;
	@include min-screen($bp_tab_v) {
		overflow: hidden;
		position: relative;
		z-index: 1;
		height:100vh;
		max-height:500px;
		background:url(../images/about-feature.jpg) no-repeat top right;
		background-size: cover;
	}
	@include min-screen($bp_tab_h) {
		max-height:100%;
	}
	@include min-screen($bp_pc) {
		min-height:620px;
	}
}
.about_feature_inner{
	position: relative;
	z-index: 1;
	height: 60vh;
	background:url(../images/feature-visual.jpg) no-repeat center center;
	background-size: cover;
	@include min-screen($bp_sp_h) {
		height: 100vh;
	}
	@include min-screen($bp_tab_v) {
		height:100%;
		background:none;
	}
	@include min-screen($bp_pc) {
		@include center(1024px);
	}
}
.about_feature_band{
	position: absolute;
	top:0;
	left: 30%;
	z-index: 10;
	width:100px;
	height:100%;
	background:rgba(#fff,.8);
	transform:skew(11deg);
	@include min-screen($bp_tab_v) {
		left: 150px;
	}
	@include min-screen($bp_tab_h) {
		width:150px;
	}
	img{
		position: absolute;
		top:45px;
		left:10px;
		width:50px;
		transform:skew(-11deg);
		@include min-screen($bp_tab_h) {
			width:80px;
		}
	}
}
.about_feature_text{
	padding:30px 0;
	text-align: center;
	@include min-screen($bp_tab_v) {
		position: absolute;
		top:0;
		z-index: 10;
		width:100%;
		height:100%;
		text-align: left;
		padding:0;
	}
	@include min-screen($bp_pc) {
		right:0;
		left:0;
		@include center(1024px);
	}
	p{
		font-family: $minchou;
		@include fz(14);
		line-height: 2;
		@include min-screen($bp_tab_v) {
			position: absolute;
			top:50%;
			right:0;
			z-index: 100;
			padding:20px;
			background:rgba(#fff,.6);
			transform:translateY(-50%);
		}
		@include min-screen($bp_tab_h) {
			right:20px;
			line-height: 3;
		}
	}
	span{
		display: block;
	}
}
.about_parallax_wrap{
	overflow: hidden;
}
.about_parallax_01{
	background:url(../images/about-parallax-01.jpg) no-repeat center center;
	background-size:cover;
	.about_parallax_box{
		@include min-screen($bp_tab_v) {
			right:initial;
			left:70px;
		}
	}
}
.about_parallax_02{
	background:url(../images/about-parallax-02.jpg) no-repeat center center;
	background-size:cover;
	.about_parallax_box{
		@include min-screen($bp_tab_v) {
			left:initial;
			right:50px;
		}
	}
}
.about_parallax_03{
	background:url(../images/about-parallax-03.jpg) no-repeat center center;
	background-size:cover;
	.about_parallax_box{
		@include min-screen($bp_tab_v) {
			right:initial;
			left:70px;
		}
	}
}
.about_parallax_box{
	position: absolute;
	top:50%;
	left:0;
	right:0;
	z-index: 10;
	width:90%;
	margin:auto;
	padding:20px;
	text-align: center;
	text-shadow: 1px 1px 0 rgba(#000,.1);
	transform:translateY(-50%);
	background:rgba(#fff,.8);
	@include min-screen($bp_tab_v) {
		margin:0;
		width:auto;
		text-align: left;
		text-shadow:none;
	}
	p{
		@include fz(13);
		line-height: 2;
		@include min-screen($bp_i6) {
		}
		@include min-screen($bp_tab_v) {
			@include fz(14);
		}
		span{
			@include min-screen($bp_tab_v) {
				display: block;
			}
		}
	}
}
.about_parallax_caption{
	padding:0 0 27px;
	@include fz(24);
	line-height: 1.6;
	@include min-screen($bp_tab_v) {
		@include fz(22);
	}
	span{
		display: block;
	}
}
//product ************************************//
.product_title_wrap{

}
.product_title{
	width:160px;
}
.product_list{
	display:flex;
	flex-wrap:wrap;
	flex-direction: column;
	padding:30px;
	@include min-screen($bp_sp_h) {
		flex-direction: row;
		justify-content:space-between;
		@include center(1024px);
		padding:0 20px 60px;
	}
	li{
		margin:0 0 30px;
		@include min-screen($bp_sp_h) {
			width:48%;
			margin:0 0 45px;
		}
		@include min-screen($bp_tab_v) {
			width:30%;
			max-width:288px;
			margin:0 0 60px;
		}
	}
	.zero{
		padding:20px;
		@include min-screen($bp_tab_v) {
			order:6;
		}
	}
	.classica{
		order:1;
	}
	.cafe{
		order:2;
	}
	.hobby{
		order:3;
	}
	.cube{
		order:4;
	}
	.fit{
		order:5;
	}
	.one{
		order:3;
		padding:70px 20px 0;
		@include min-screen($bp_tab_v) {
			order:8;
		}
	}
	.after{
		order:9;
		.item_caption{
			background:$green;
		}
	}
	.reform{
		order:10;
		.item_caption{
			background:$orange;
		}
	}
	a{
		overflow: hidden;
		position: relative;
		z-index: 1;
		display: block;
		&:hover{
			.item_bg {
				@include min-screen($bp_tab_v) {
					filter:brightness(80%);
				}
			}
			.item_logo{
				@include min-screen($bp_tab_v) {
					transform:scale(1.2);
				}
			}
		}
	}
	p{
		padding:12px 0 0;
		@include fz(14);
		line-height: 1.6;
	}
	.item_bg{
		@include min-screen($bp_tab_v) {
			transition:all .3s $ease-out-quad;
		}
	}
	.item_logo{
		position: absolute;
		bottom:10px;
		left:10px;
		width:100px;
		padding:10px;
		background:#fff;
		@include min-screen($bp_tab_v) {
			transform-origin:bottom left;
			transform:scale(1);
			transition:all .3s $ease-out-quad;
		}
	}
	.item_caption{
		display: block;
		position: absolute;
		top:0;
		left:0;
		z-index: 10;
		width:100%;
		height: 32%;
		padding: 9% 0 0;
		text-align: center;
		@include fz(20);
		color:#fff;
	}
}
//Works **************************************//
.works_contents{
	padding:0 0 60px;
	@include min-screen($bp_tab_v) {
		padding:0 0 100px;
	}
}
.works_title_wrap{
}
.works_title{
	width:120px;
}
.works_list{
	padding:30px 30px 0;
	@include min-screen($bp_sp_h) {
		display:flex;
		flex-wrap:wrap;
		justify-content:space-between;
	}
	@include min-screen($bp_tab_v) {
		padding:0 30px;
	}
	@include min-screen($bp_tab_h) {
		@include center(1024px);
	}
	li{
		margin:0 0 30px;
		@include min-screen($bp_sp_h) {
			width:48%;
			margin:0 0 45px;
		}
		@include min-screen($bp_tab_v) {
			width:30%;
			max-width:288px;
			margin:0 0 60px;
		}
	}
	.add{
		opacity:0;
		transform:translate3d(0,30px,0);
		transition:all .3s $ease-out-quad;
	}
	.show{
		opacity:1;
		transform:translate3d(0,0,0);
	}
	a{
		overflow: hidden;
		display: block;
		&:hover{
			img {
				@include min-screen($bp_tab_v) {
					filter:brightness(80%);
				}
			}
		}
		img{
			transition:all .3s $ease-out-quad;
		}
	}
	p{
		padding:12px 0 0;
		@include fz(14);
		line-height: 1.6;
	}
}
.works_more_btn{
	.btn{
		@include fz(14);
		border: 1px solid #000;
		border-bottom: none;
		&:hover{
			border-color: #e2540a;
		}
		@include min-screen($bp_tab_v) {
			max-width:330px;
		}
	}
	.remove{
		display: none;
	}
}
//スタッフ紹介 ************************************//
.profile_contents{
	@include min-screen($bp_tab_v) {
		padding:0 30px;
	}
	@include min-screen($bp_tab_h) {
		padding:0;
	}
}
.profile_title_wrap{

}
.profile_title{
	width:145px;
}
.profile_list{
	padding:30px;
	@include min-screen($bp_tab_v) {
		padding:0 30px;
	}
	@include min-screen($bp_pc) {
		@include center(820px);
	}
}
.profile_item{
	padding:30px 15px;
	margin:0 0 45px;
	border:1px solid $lgray;
	@include min-screen($bp_tab_v) {
		display:flex;
		flex-wrap:wrap;
		margin:0 0 80px;
		padding:0;
	}
	&:nth-child(odd){
		img{
			@include min-screen($bp_tab_v) {
				left:-30px;
			}
		}
		.profile_item_head{
			@include min-screen($bp_tab_v) {
				padding:0 0 0 30px;
			}
		}
		.profile_item_content{
			@include min-screen($bp_tab_v) {
				padding:25px 25px 30px 0;
			}
		}
		.profile_item_text{
			@include min-screen($bp_tab_v) {
				padding:15px 0 0 30px;
			}
		}
	}
	&:nth-child(even){
		@include min-screen($bp_tab_v) {
			flex-direction:row-reverse;
			background:#f7f7f7;
			border:none;
		}
		img{
			@include min-screen($bp_tab_v) {
				right:-30px;
			}
		}
		.profile_item_content{
			@include min-screen($bp_tab_v) {
				padding:25px 0 30px 25px;
			}
		}
		.profile_item_text{
			@include min-screen($bp_tab_v) {
				padding:15px 0 0 0;
			}
		}
	}
}
.profile_item_pic{
	overflow: hidden;
	position: relative;
	z-index: 1;
	width:150px;
	height:150px;
	margin:0 auto 20px;
	border-radius:50%;
	@include min-screen($bp_tab_v) {
		overflow: visible;
		width:26%;
		height:auto;
		border-radius:0;
	}
	img{
		@include min-screen($bp_tab_v) {
			position: absolute;
			top:-20px;
			z-index: 10;
			width:110%;
		}
	}
}
.profile_item_head{
	text-align: center;
	border-bottom:1px solid $dgray;
	@include min-screen($bp_tab_v) {
		text-align:left;
	}
}
.profile_position{
	@include fz(12);
	line-height: 1.6;
	br{
		display: none;
		@include min-screen($bp_tab_v) {
			display: block;
		}
	}
}
.profile_item_name{
	padding:12px 0;
	@include fz(30);
	font-weight: bold;
	letter-spacing: .15em;
	@include min-screen($bp_tab_v) {
		@include fz(24);
	}
	span{
		display: block;
		vertical-align: middle;
		@include fz(12);
		font-weight: normal;
		line-height: 32px;
		letter-spacing: .3em;
		@include min-screen($bp_tab_v) {
			display: inline-block;
			margin:0 0 0 20px;
			line-height: 24px;
		}
	}
}
.profile_item_content{
	@include min-screen($bp_tab_v) {
		width:74%;
	}
}
.profile_item_text{
	padding:15px 0;
	@include min-screen($bp_tab_v) {
		padding:0;
	}
	p{
		@include fz(14);
		line-height: 1.6;
		@include min-screen($bp_tab_v) {
			@include fz(13);
		}
	}
	dl{
		padding:25px 0 0;
	}
	dt{
		position: relative;
		z-index: 1;
		text-align: center;
		@include fz(14);
		letter-spacing: .1em;
		line-height: 55px;
		background:$gray;
		border:1px solid #000;
		border-bottom:none;
		transition:all .3s $ease-out-quad;
		@include min-screen($bp_tab_v) {
			padding:0 0 10px;
			text-align:left;
			line-height: 1;
			background:none;
			border:none;
			transition:none;
		}
		&::before,&::after{
			content:"";
			display: block;
			position: absolute;
			bottom:-1px;
			z-index: 10;
			width: 24%;
			height:1px;
			background:#000;
			transition:all .3s $ease-out-quad;
			@include min-screen($bp_tab_v) {
				content:none;
			}
		}
		&::before{
			left:0;
		}
		&::after{
			right:0;
		}
		span{
			position: relative;
			z-index: 1;
			display: inline-block;
			padding:0 0 0 15px;
			&::before{
				content:"";
				position: absolute;
				top:0;
				bottom:0;
				left:0;
				z-index: 10;
				width:7px;
				height:7px;
				margin:auto;
				border-right:1px solid $black;
				border-bottom:1px solid $black;
				transform:rotate(45deg);
				transition:all .3s $ease-out-quad;
				@include min-screen($bp_tab_v) {
					transform:rotate(-45deg);
				}
			}
		}
	}
	.active{
		background:$lgray;
		border-color:$lgray;
		&::before,&::after{
			width:0;
		}
		span{
			&::before{
				transform:rotate(-135deg);
			}
		}
	}
	dd{
		display: none;
		@include fz(14);
		@include min-screen($bp_tab_v) {
			display: block;
			@include fz(12);
		}
	}
	ul{
		padding:10px;
		border:1px solid $lgray;
		border-top:none;
		@include min-screen($bp_tab_v) {
			padding:0;
			border:none;
		}
	}
	li{
		padding:0 0 5px;
		line-height: 1.6;
		@include min-screen($bp_tab_v) {
			padding:0;
		}
		span{
			display: block;
			@include min-screen($bp_tab_v) {
				display: inline;
			}
		}
	}
}
//会社概要 **************************************://
.company_contents{
}
.company_title_wrap{
}
.company_contents_inner{
	padding:30px;
	@include min-screen($bp_tab_v) {
		padding:0 30px;
	}
	@include min-screen($bp_tab_h) {
		@include center(1024px);
		padding:0 75px;
	}
}
.company_detail{
	padding:0 0 20px;
	border-bottom:1px solid $dgray;
	@include min-screen($bp_tab_v) {
		padding:0 0 40px;
	}
}
.company_detail_table{
	@include min-screen($bp_tab_v) {
		display: table;
		table-layout: fixed;
		width:100%;
		@include center(630px);
	}
	dl{
		@include min-screen($bp_tab_v) {
			display:table-row;
		}
	}
	dt{
		display: inline-block;
		padding:0 10px;
		@include fz(12);
		line-height: 1.6;
		border-bottom:1px solid $dgray;
		@include min-screen($bp_i6) {
			@include fz(14);
		}
		@include min-screen($bp_tab_v) {
			display: table-cell;
			width:23%;
			text-align: left;
			vertical-align: top;
			padding:15px 0;
			border:none;
		}
	}
	dd{
		padding:10px 0 20px;
		@include fz(12);
		line-height: 1.6;
		@include min-screen($bp_i6) {
			@include fz(14);
		}
		@include min-screen($bp_tab_v) {
			display: table-cell;
			width:77%;
			vertical-align: top;
			padding:15px 0;
		}
	}
	span{
		display: block;
	}
}
.company_history {
	border-bottom:1px solid $dgray;
}
.company_history_inner{
	padding:45px 0;
	@include min-screen($bp_tab_v) {
		width:100%;
		@include center(630px);
		padding:60px 0 90px;
	}
	dl{
		border-left:1px solid $dgray;
		@include min-screen($bp_tab_v) {
			display:flex;
			flex-wrap:wrap;
			border:none;
		}
	}
	dt{
		display: inline-block;
		padding:0 10px;
		@include fz(12);
		line-height: 1.6;
		border-bottom:1px solid $dgray;
		@include min-screen($bp_i6) {
			@include fz(14);
		}
		@include min-screen($bp_tab_v) {
			padding:0 0 5px;
			width:23%;
			border:none;
		}
	}
	dd{
		padding:10px 0 20px 15px;
		@include fz(12);
		line-height: 1.6;
		@include min-screen($bp_i6) {
			@include fz(14);
		}
		@include min-screen($bp_tab_v) {
			padding:0 0 5px;
			width:77%;
		}
	}
}
.company_history_caption{
	@include fz(18);
	margin:0 0 25px;
	@include min-screen($bp_tab_v) {
		@include fz(14);
	}
}
.company_aside{
	@include min-screen($bp_tab_v) {
		display:flex;
		padding:40px 0 30px;
		border-bottom:1px solid $dgray;
	}
}
.company_aside_caption{
	padding:30px 0;
	text-align: center;
	@include fz(30);
	font-weight: 500;
	letter-spacing: .1em;
	color:$black;
	@include min-screen($bp_tab_v) {
		padding:0;
		margin:0 0 30px;
		text-align: left;
		@include fz(20);
	}
	@include min-screen($bp_tab_h) {
		@include fz(30);
	}
	span{
		display: block;
		margin:10px 0 0;
		@include fz(14);
		font-weight: normal;
		letter-spacing: 0;
		color:$dgray2;
		@include min-screen($bp_tab_v) {
			display: inline-block;
			margin:0 0 0 20px;
		}
	}
}
.company_oneside{
	padding:0 0 45px;
	border-bottom:1px solid $dgray;
	@include min-screen($bp_tab_v) {
		width:34%;
		padding:0 30px 0 0;
		border-right:1px solid $dgray;
		border-bottom:none;
	}
}
.company_oneside_item{
	img{
		margin:0 0 20px;
	}
	.name{
		@include fz(15);
		font-weight: bold;
		line-height: 1.6;
	}
	.address{
		@include fz(13);
		line-height: 2;
		color:$black;
	}
	.tel{
		@include fz(13);
		line-height: 1.6;
		color:$black;
		a{
			color:$black;
			margin:0 10px 0 0;
			cursor:default;
		}
	}
	.freedial{
		padding:0 0 0 25px;
		background:url(../images/icon-freedial.png) no-repeat left center;
		background-size:18px;
	}
	.btn{
		margin-top:30px;
		letter-spacing: .17em;
		@include min-screen($bp_tab_v) {
			margin-top:50px;
		}
	}
}
.company_office{
	padding:0 0 40px;
}
.company_maintenance{
	border-top:1px solid $dgray2;
	@include min-screen($bp_tab_v) {
		padding:30px 0 0;
	}
	.company_aside_caption{
		@include min-screen($bp_tab_v) {
			position: relative;
			z-index: 1;
			letter-spacing: -.04em;
		}
		span{
			@include min-screen($bp_tab_v) {
				position: absolute;
				top:50%;
				right:0;
				z-index: 10;
				transform:translateY(-50%);
				margin:0;
				@include fz(10);
			}
		}
	}
}
.company_model_house{
	padding:15px 0 0;
	border-bottom:1px solid $dgray;
	@include min-screen($bp_tab_v) {
		width:66%;
		padding:0 0 0 30px;
		border-bottom:none;
	}
}
.company_model_house_item_wrap{
	@include min-screen($bp_tab_v) {
		position: relative;
		z-index: 1;
		display: flex;
		flex-wrap:wrap;
		justify-content:space-between;
	}
	.btn{
		margin-top:20px;
		margin-bottom:45px;
		@include min-screen($bp_tab_v) {
			position: absolute;
			right:0;
			bottom:35px;
			left:0;
			margin:0 auto;
			letter-spacing: .17em;
		}
	}
}
.company_model_house_item{
	margin:0 0 20px;
	@include min-screen($bp_tab_v) {
		position: relative;
		z-index: 1;
		width:48%;
		margin:0;
		padding:0 0 115px;
	}
	img{
		margin:0 0 20px;
	}
	.name{
		@include fz(15);
		font-weight: bold;
		line-height: 1.6;
		span{	
			display: block;
			@include fz(10);
			font-weight: normal;
		}
		.row{
			display: inline-block;
		}
	}
	.address{
		@include fz(13);
		line-height: 2;
		color:$black;
	}
	.note{
		padding:10px 0 0;
		@include fz(14);
		line-height: 1.6;
	}
}
.company_contact{
	padding:30px 0 100px;
	text-align: center;
	.intro{
		@include fz(14);
		font-weight: bold;
		color:$black;
		@include min-screen($bp_tab_v) {
			@include fz(18);
		}
	}
	.tel{
		display: block;
		max-width:350px;
		margin:20px auto 10px;
		img{
			vertical-align: middle;
		}
	}
	.info{
		@include fz(14);
		padding:0 0 20px;
		@include min-screen($bp_tab_v) {
			padding:0 0 45px;
		}
		span{
			display: block;
			line-height:30px;
			@include min-screen($bp_tab_v) {
				display: inline-block;
				line-height: 1;
			}
		}
	}
}
//news ***************************************************//
.news_contents{
	
}
.news_contents_inner{
	padding:30px 30px 60px;
	@include min-screen($bp_tab_v) {
		padding:0 30px 100px;
	}
	@include min-screen($bp_tab_h) {
		padding:0 0 100px;
	}
}
.news_title_wrap{

}
.news_title{
	width:105px;
	span{
		padding:20px 0;
	}
}
.news_list{
	border-top:1px solid $dgray;
	@include center(768px);
}
.news_item{
	padding:30px 0;
	border-bottom:1px solid $dgray;
	@include min-screen($bp_sp_h) {
		display: table;
		table-layout: fixed;
		padding:70px 0;
	}
}
.news_item_date{
	display: inline-block;
	padding:10px;
	@include fz(18);
	line-height: 1.6;
	border:1px solid $dgray;
	@include min-screen($bp_sp_h) {
		display: table-cell;
		vertical-align: top;
		width:22%;
		padding:0;
		border:none;
	}
}
.news_item_content{
	padding:15px 0;
	@include min-screen($bp_sp_h) {
		display: table-cell;
		vertical-align: top;
		width:78%;
		padding:0;
	}
	p{
		@include fz(14);
		line-height: 1.6;
	}
	a{
		display: block;
		&:hover{
			color:$orange;
		}
	}
}
.news_item_title{
	@include fz(18);
	font-weight: bold;
	line-height: 1.6;
	padding:0 0 10px;
	@include min-screen($bp_sp_h) {
		font-weight: normal;
	}
}
.wp-pagenavi{
	margin:30px 0 0;
	text-align: center;
	span,a{
		display: inline-block;
		width:30px;
		line-height:30px;
		margin:0 5px;
		border:1px solid $dgray;
	}
	.current{
		color:$dgray;
		background:#fff;
	}
	a{
		color:#fff;
		background:$dgray;
		&:hover{
			color:$dgray;
			background:#fff;
		}
	}
}
//after *********************************************//
.after_contents{
	padding:0 0 60px;
}
.after_title_wrap{
	@include min-screen($bp_tab_v) {
		padding-right:60px;
	}
}
.after_title{
	max-width:330px;
	padding:0 30px;
	@include min-screen($bp_tab_v) {
		padding:0;
	}
}
.after_contents_inner{
	padding:0 30px;
	@include min-screen($bp_tab_v) {
		@include center(700px);
		padding:0;
	}
}
.after_top{
	padding:0 0 45px;
	@include min-screen($bp_tab_v) {
		padding:20px 0 125px;
	}
	.caption{
		padding:0 0 23px;
		text-align: center;
		font-family: $minchou;
		@include fz(24);
		line-height: 1.6;
		@include min-screen($bp_tab_v) {
			padding:0 0 58px;
			@include fz(28);
			line-height: 1;
		}
		br{
			@include min-screen($bp_tab_v) {
				display: none;
			}
		}
	}
	p{
		@include fz(14);
		line-height: 1.8;
		br{
			display: none;
			@include min-screen($bp_tab_v) {
				display: block;
			}
		}
	}
}
.after_middle{
	@include min-screen($bp_tab_v) {
		padding:0 0 60px;
	}
	.caption{
		text-align: center;
		@include fz(18);
		font-weight: bold;
		letter-spacing: .12em;
		line-height: 1.6;
		color:$black;
		@include min-screen($bp_tab_v) {
			padding:0 0 5px;
			text-align:left;
		}
	}
	.note{
		padding:0 0 45px;
		@include fz(14);
		line-height: 1.6;
		@include min-screen($bp_tab_v) {
			padding:0;
			@include fz(14);
			line-height: 1.8;
		}
	}
}
.after_middle_inner{
	padding:0 0 45px;
	@include min-screen($bp_tab_v) {
		display:table;
		table-layout: fixed;
		width:100%;
		padding:0 0 60px;
	}
	.text{
		@include fz(14);
		@include min-screen($bp_tab_v) {
			display: table-cell;
			vertical-align: middle;
		}
	}
	.pic{
		@include min-screen($bp_tab_v) {
			display: table-cell;
			vertical-align: middle;
		}
	}
	p{
		padding:20px 0;
		line-height: 1.6;
		@include min-screen($bp_tab_v) {
			padding:0;
			line-height: 1.8;
		}
		br{
			display: none;
			@include min-screen($bp_tab_v) {
				display: block;
			}
		}
	}
}
.after_middle_inner_01{
	.text{
		@include min-screen($bp_tab_v) {
			width:40%;
		}
	}
	.pic{
		@include min-screen($bp_tab_v) {
			width:60%;
			vertical-align: bottom;
		}
	}
}
.after_middle_inner_02{
	.text{
		@include min-screen($bp_tab_v) {
			width:70%;
		}
	}
	.pic{
		@include min-screen($bp_tab_v) {
			width:30%;
		}
	}

}
.after_bottom{
	.caption{
		padding:0 0 10px;
		text-align: center;
		@include fz(12);
		font-weight: bold;
		color:$black;
		@include min-screen($bp_tab_v) {
			padding:0 0 15px;
			@include fz(18);
		}
	}
}
.after_link_wrap{
	@include min-screen($bp_tab_v) {
		display: table;
		table-layout: fixed;
		width:100%;
		padding:0 0 45px;
	}
}
.after_link_item{
	padding:0 0 45px;
	text-align: center;
	@include min-screen($bp_tab_v) {
		display: table-cell;
		vertical-align: bottom;
		width:50%;
		padding:0;
	}
	p{
		padding:0 0 10px;
		color:$dgray2;
		@include min-screen($bp_tab_v) {
			@include fz(10);
			letter-spacing: .17em;
		}
	}
	.btn{
		@include min-screen($bp_tab_v) {
			max-width:320px;
		}
	}
	span{
		display: block;
		padding:10px 0 0;
		@include fz(14);
		font-weight: bold;
		color:$dgray2;
		@include min-screen($bp_tab_v) {
			display: inline-block;
			@include fz(12);
			line-height: 1.6;
			padding:0;
		}
	}
	.tel{
		display: block;
		cursor:default;
		img{
			@include min-screen($bp_tab_v) {
				max-width:337px;
			}
		}
	}
}
//reform **************************************//
.reform_contents{
	padding:0 0 60px;
}
.reform_title_wrap{
	@include min-screen($bp_tab_v) {
		padding-right:100px;
	}
}
.reform_title{
	width:130px;
}
.reform_contents_inner{
	padding:0 30px;
	@include min-screen($bp_tab_v) {
		@include center(700px);
		padding:0;
	}
}
.reform_top{
	padding:0 0 45px;
	@include min-screen($bp_tab_v) {
		padding:20px 0 125px;
	}
	.caption{
		padding:0 0 23px;
		text-align: center;
		font-family: $minchou;
		@include fz(24);
		line-height: 1.6;
		@include min-screen($bp_tab_v) {
			padding:0 0 58px;
			@include fz(26);
			line-height: 1;
		}
		br{
			@include min-screen($bp_tab_v) {
				display: none;
			}
		}
	}
	p{
		@include fz(14);
		line-height: 1.8;
		br{
			display: none;
			@include min-screen($bp_tab_v) {
				display: block;
			}
		}
	}
}
.reform_middle{
	@include min-screen($bp_tab_v) {
		padding:0 0 60px;
	}
	.caption{
		text-align: center;
		@include fz(18);
		font-weight: bold;
		line-height: 1.6;
		color:$black;
		@include min-screen($bp_tab_v) {
			padding:0 0 5px;
			text-align:left;
			letter-spacing: .12em;
		}
	}
}
.reform_middle_inner{
	padding:0 0 45px;
	@include min-screen($bp_tab_v) {
		display:table;
		table-layout: fixed;
		width:100%;
		padding:0 0 90px;
	}
	.text{
		@include fz(14);
		@include min-screen($bp_tab_v) {
			display: table-cell;
			vertical-align: middle;
		}
	}
	.pic{
		@include min-screen($bp_tab_v) {
			display: table-cell;
			vertical-align: middle;
			padding:0 0 0 30px;
		}
	}
	p{
		padding:20px 0;
		line-height: 1.6;
		@include min-screen($bp_tab_v) {
			padding:0;
			line-height: 1.8;
			@include fz(14);
		}
		br{
			display: none;
			@include min-screen($bp_tab_v) {
				display: block;
			}
		}
	}
}
.reform_middle_table{
	.note{
		display: block;
		line-height: 1.6;
		padding:0 0 5px;
		@include min-screen($bp_tab_v) {
			padding:0;
			@include fz(10);
		}
	}
}
.reform_middle_table_inner{
	padding:10px 0;
	@include min-screen($bp_tab_v){
		display:flex;
	}
	table{
		table-layout: fixed;
		width:100%;
	}
	th{
		height:40px;
		text-align: center;
		vertical-align: middle;
		@include fz(12);
		font-weight: bold;
		line-height: 1.4;
		color:#fff;
		background:#696a68;
		border:1px solid #696a68;
		@include min-screen($bp_sp_h){
			height:30px;
			@include fz(14);
		}
	}
	td{
		height:40px;
		text-align: center;
		vertical-align: middle;
		@include fz(12);
		font-weight: bold;
		line-height: 1.4;
		color:#696a68;
		border:1px solid #696a68;
		@include min-screen($bp_sp_h){
			height:30px;
			@include fz(14);
		}
	}
	br{
		@include min-screen($bp_sp_h){
			display: none;
		}
	}
	.last{
		@include fz(10);
	}
	.table_01{
		@include min-screen($bp_tab_v){
			width:66.6666666666%;
		}
		th{
			@include min-screen($bp_tab_v){
				border-right:1px solid #fff;
			}
		}
	}
	.table_02{
		@include min-screen($bp_tab_v){
			width:33.3333333333%;
		}
		td{
			@include min-screen($bp_tab_v){
				border-left:0;
			}
		}
	}
	p{
		padding:0;
	}
}
.reform_bottom{
	.caption{
		padding:0 0 10px;
		text-align: center;
		@include fz(12);
		font-weight: bold;
		color:$black;
		@include min-screen($bp_tab_v) {
			padding:0 0 15px;
			@include fz(18);
		}
	}
	p{
		padding:0 0 30px;
		text-align: center;
		@include fz(14);
		line-height: 1.6;
	}
}
.reform_link_wrap{
	@include min-screen($bp_tab_v) {
		display: table;
		table-layout: fixed;
		width:100%;
		padding:0 0 45px;
	}
}
.reform_link_item{
	padding:0 0 35px;
	text-align: center;
	@include min-screen($bp_tab_v) {
		display: table-cell;
		vertical-align: bottom;
		width:50%;
		padding:0;
	}
	p{
		padding:0 0 10px;
		color:$dgray2;
		@include min-screen($bp_tab_v) {
			@include fz(10);
			letter-spacing: .17em;
		}
	}
	.btn{
		@include min-screen($bp_tab_v) {
			max-width:320px;
		}
	}
	span{
		display: block;
		padding:10px 0 0;
		@include fz(14);
		font-weight: bold;
		color:$dgray2;
		@include min-screen($bp_tab_v) {
			display: inline-block;
			@include fz(12);
			line-height: 1.6;
			padding:0;
		}
	}
	.tel{
		display: block;
		cursor:default;
		img{
			@include min-screen($bp_tab_v) {
				max-width:337px;
			}
		}
	}
}
//sitemap ************************************//
.sitemap_contents{
	padding:0 0 60px;
}
.sitemap_title_wrap{

}
.sitemap_title{
	width:150px;
}
.sitemap_contents_inner{
	padding:0 15px;
	@include min-screen($bp_tab_v) {
		padding:0 30px;
	}
	@include min-screen($bp_pc) {
		@include center(1024px);
		padding:0 60px;
	}
}
.sitemap_list{
	padding:0 5px;
	border:10px solid $lgray;
	@include min-screen($bp_tab_v) {
		padding:30px 65px;
	}
	li{
		@include min-screen($bp_tab_v) {
			border-bottom:1px dashed $dgray2;
		}
	}
	a{
		position: relative;
		z-index: 1;
		display: block;
		padding:0 0 0 30px;
		@include fz(14);
		line-height: 45px;
		color:$dgray;
		border-bottom:1px dashed $dgray2;
		@include min-screen($bp_tab_v) {
			border:none;
			&:hover{
				color:$orange;
				&::before{
					box-shadow:0 0 0 1px $orange inset;
				}
			}
		}
		&::before{
			content:"";
			display: block;
			position: absolute;
			top:0;
			bottom:0;
			left:10px;
			z-index: 10;
			width:14px;
			height:14px;
			margin:auto;
			box-shadow:0 0 0 4px $orange inset;
			border-radius:50%;
			transition:all .3s $ease-out-quad;
		}
	}
	.last{
		@include min-screen($bp_tab_v) {
			border:none;
		}
		a{
			border:none;
		}
	}
}
.sitemap_list_col{
	@include min-screen($bp_tab_v) {
		display:flex;
		flex-wrap:wrap;
		justify-content:space-between;
		align-items:flex-start;
	}
}
.sitemap_list_children{
	li{
		@include min-screen($bp_tab_v) {
			border:none;
		}
	}
	a{
		
	}
}
//news&blog post ********************************//
.post_contents{
	padding:0 0 60px;
	@include min-screen($bp_tab_v) {
		padding:0 0 100px;
	}
}
.post_contents_inner{
	padding:30px;
	@include min-screen($bp_tab_v) {
		padding:0 30px;
	}
	@include min-screen($bp_pc) {
		@include center(1024px);
		padding:0 60px;
	}
}
.post_contents_col{
	border-top:1px solid $dgray;
	border-bottom:1px solid $dgray;
	@include min-screen($bp_tab_v) {
		display:flex;
	}
}
//main
.post_main{
	padding:0 0 30px;
	border-bottom:1px solid $dgray;
	@include min-screen($bp_tab_v) {
		position: relative;
		z-index: 1;
		width:70%;
		padding:0 30px 30px 0;
		border-right:1px solid $dgray;
		border-bottom:none;
	}
}
.post_main_inner{
}
.post_date{
	width:100px;
	height:100px;
	text-align: center;
	margin:30px auto;
	@include fz(18);
	line-height: 100px;
	color:#fff;
	background:$orange;
	border-radius:50%;
	p{
		display: inline-block;
		vertical-align: middle;
	}
	span{
		display: block;
		line-height: 1.4;
	}
	.date{
		border-bottom:1px solid #fff;
	}
	.year{
	}
}
.post_main_title{
	margin:0 0 15px;
	padding:5px 0 10px;
	text-align: center;
	@include fz(22);
	line-height: 1.4;
	border-bottom:2px solid $orange;
}
.post_main_contents{
	padding:0 0 30px;
	@include min-screen($bp_tab_v) {
		padding:0 0 60px;
	}
	h1,h2,h2,h3,h4,h5,h6{
		margin: 1em 0;
		@include fz(16);
		line-height: 1.6;
		font-weight: bold;
		border-bottom:1px solid;
	}
	p,div{
		margin:0 0 2rem;
		@include fz(14);
		line-height: 1.6;
	}
	em{
		font-style: italic;
	}
	strong{
		margin:0 0 2rem;
		@include fz(16);
		font-weight: bold;
		line-height: 1.6;
	}
	img{
		width:auto;
		max-width:100%;
		margin:0 0 2rem;
	}
	pre{
		white-space: pre-wrap;
		display: block;
		margin:0 0 2rem;
		@include fz(14);
		line-height: 1.6;
	}
	table{
		margin: 1em 0;
		width:100%;
		td{
			padding:10px;
			border:1px solid #ddd;
		}
	}
	a{
		color:$orange;
	}
}
//side
.post_side{
	@include min-screen($bp_tab_v) {
		width:30%;
		padding:30px 0 30px 20px;
	}
}
.post_side_item{
	padding:30px 0;
	border-bottom:1px solid $dgray;
	&:last-child{
		border:none;
	}
	@include min-screen($bp_tab_v) {
		padding:0 0 30px;
		border:none;
	}
}
.post_side_caption{
	padding:0 0 20px;
	@include fz(15);
	font-weight: bold;
}
.post_side_new_list{
	li{
		padding:0 0 20px;
	}
	a{
		display: block;
		padding:0 0 0 30px;
		@include fz(14);
		line-height: 1.6;
		background:url(../images/arrow-right.png) no-repeat left top 3px;
		background-size:16px;
		@include min-screen($bp_tab_v) {
			@include fz(12);
		}
		&:hover{
			color:$orange;
		}
	}
}
.post_archive_year{
	position: relative;
	z-index: 1;	
	margin:0 0 8px;
	padding:0 0 0 30px;
	@include fz(14);
	line-height: 1.6;
	cursor:pointer;
	transition:all .3s $ease-out-quad;
	@include min-screen($bp_tab_v) {
		@include fz(12);
	}
	&::before{
		content:"";
		display: block;
		position: absolute;
		top:0;
		bottom:0;
		left:0;
		z-index: 10;
		width:16px;
		height:16px;
		margin:auto;
		background:url(../images/arrow-right.png) no-repeat left center;
		background-size:16px;
		transition:all .3s $ease-out-quad;
	}
	&:hover{
		color:$orange;
	}
	&.active{
		&::before{
			transform:rotate(90deg);
		}
	}
}
.post_archive_list{
	display: none;
	padding:0 0 0 30px;
	li{
		margin:0 0 8px;
	}
	a{
		position: relative;
		z-index: 1;
		display: block;
		padding:0 0 0 15px;
		@include fz(12);
		line-height: 1.6;
		&::before{
			content:"";
			display: block;
			position: absolute;
			top:0;
			left:0;
			bottom:0;
			z-index: 10;
			width:6px;
			height:6px;
			margin:auto;
			border-top:1px solid #000;
			border-right:1px solid #000;
			transform:rotate(45deg);
			transition:all .3s $ease-out-quad;
		}
		&:hover{
			color:$orange;
			&::before{
				border-color:$orange;
			}
		}
	}
}
.post_pagination{
	text-align: center;
	a{
		display: inline-block;
		padding:10px;
		text-align: center;
		color:#fff;
		background:$dgray;
		border:1px solid transparent;
		&:hover{
			@include min-screen($bp_tab_v) {
				color:$dgray;
				background:#fff;
				border-color:$dgray;
			}
		}
	}
	@include min-screen($bp_tab_v) {
		position: absolute;
		bottom:-60px;
		left:0;
		z-index:10;
		width:100%;
	}
}
//works *********************************************//
.works_post_contents{
	padding:0 0 60px;
	@include min-screen($bp_tab_v) {
		padding:0 0 100px;
	}
}
.works_post_contents_inner{
	padding:0 30px;
	color:$dgray2;
	@include min-screen($bp_tab_h) {
		padding:0 60px;
	}
	@include min-screen($bp_pc) {
		@include center(1024px);
		padding:0 100px;
	}
	.btn{
		@include fz(14);
		letter-spacing: .17em;
		max-width:320px;
	}
}
.works_post_title{
	padding:0 0 15px;
	text-align: center;
	@include fz(18);
	line-height: 1.4;
	border-bottom:1px solid $dgray2;
	@include min-screen($bp_tab_v) {
		@include fz(22);
	}
}
.works_post_contents_col{
	@include min-screen($bp_tab_v) {
		display:flex;
		padding:0 0 115px;
	}
}
//main
.works_post_main{
	padding:15px 0 30px;
	border-bottom:1px solid $dgray;
	@include min-screen($bp_tab_v) {
		width:75%;
		padding:25px 25px 0 0;
		border:none;
	}
}
.works_post_carousel{
	opacity:0;
}
.works_main_contents{
	padding:10px 0 20px;
	@include fz(15);
	line-height: 1.6;
	@include min-screen($bp_tab_v) {
		padding:25px 0;
	}
	h1,h2,h2,h3,h4,h5,h6{
		margin: 1em 0;
		@include fz(16);
		line-height: 1.6;
		font-weight: bold;
		border-bottom:1px solid;
	}
	p,div{
		margin:0 0 2rem;
		@include fz(14);
		line-height: 1.6;
	}
	em{
		font-style: italic;
	}
	strong{
		margin:0 0 2rem;
		@include fz(16);
		font-weight: bold;
		line-height: 1.6;
	}
	img{
		width:auto;
		max-width:100%;
		margin:0 0 2rem;
	}
	pre{
		white-space: pre-wrap;
		display: block;
		margin:0 0 2rem;
		@include fz(14);
		line-height: 1.6;
	}
	table{
		margin: 1em 0;
		width:100%;
		td{
			padding:10px;
			border:1px solid #ddd;
		}
	}
	a{
		color:$orange;
	}
}
.works_post_main_table{
	display: table;
	table-layout: fixed;
	width:100%;
	@include min-screen($bp_tab_v) {
		width:70%;
	}
}
.works_post_main_table_row{
	display: table-row;
	@include fz(12);
	@include min-screen($bp_tab_v) {
		@include fz(14);
	}
	&:nth-child(odd){
		background:#d9d9d9;
	}
	dt{
		display: table-cell;
		width:40%;
		vertical-align: top;
		padding:5px 20px;
		line-height: 1.6;
	}
	dd{
		display: table-cell;
		width:60%;
		vertical-align: top;
		padding:5px 10px;
		line-height: 1.6;
	}
}
//side
.works_post_side{
	padding:30px 0;
	@include min-screen($bp_tab_v) {
		width:25%;
		padding:25px 0 0 25px;
	}
	.btn{
	}
}
.works_post_side_caption{
	@include fz(18);
}
.works_post_side_list{
	display:flex;
	flex-wrap:wrap;
	justify-content:space-between;
	@include min-screen($bp_tab_v) {
		display: block;
	}
	li{
		width:48%;
		padding:25px 0 0;
		@include min-screen($bp_tab_v) {
			width:100%;
		}
	}
	a{
		display: block;
		&:hover{
			img{
				filter:brightness(80%);
			}
		}
	}
	img{
		transition:all .3s $ease-out-quad;
	}
	p{
		padding:5px 0 0;
		@include fz(12);
		line-height: 1.6;
	}
}
//contact ****************************************//
.contact_contents{

}
.contact_title_wrap{

}
.contact_title{
	width:165px;
	span{
		padding:20px 0 0;
	}
}
.contact_contents_inner{
	padding:0 15px;
	@include min-screen($bp_tab_v) {
		padding:0 30px;
	}
	@include min-screen($bp_pc) {
		@include center(1024px);
		padding:0 80px;
	}
	input[type="submit"]{
		display: block;
		width:100%;
		height:100%;
		@include fz(12);
		line-height: 55px;
		letter-spacing: .17em;
		cursor:pointer;
	}
	.error{
		margin:0 0 30px;
		padding:20px;
		@include fz(14);
		line-height: 1.6;
		color:$orange;
		border:1px solid $orange;
	}
}
.contact_intro{
	text-align: center;
	@include fz(16);
	padding:0 0 30px;
	line-height: 1.6;
	@include min-screen($bp_tab_v) {
		padding:0 0 50px;
		line-height: 1;
	}
}
.contact_form{
	padding:0 0 90px;
	.btn{
		transition:all .3s $ease-out-quad;
	}
}
.contact_form_list{
	border:1px solid #ccc;
	li{
		border-bottom:1px solid #ccc;
		@include min-screen($bp_tab_v) {
			display: table;
			table-layout: fixed;
			width:100%;
		}
		&:last-child{
			border:none;
		}
	}
}
.contact_form_item{
	display:flex;
	padding:10px;
	background:$lgray2;
	@include min-screen($bp_tab_v) {
		display: table-cell;
		width:25%;
		padding:30px 20px 30px 0;
		vertical-align: top;
		text-align: right;
	}
	.label{
		order:2;
		display: block;
		@include fz(15);
		line-height: 25px;
		@include min-screen($bp_tab_v) {
			padding:0 0 5px;
			line-height: 1;
		}
		br{
			display: none;
			@include min-screen($bp_tab_v) {
				display: block;
				line-height: 1.4;
			}
			@include min-screen($bp_pc) {
				display: none;
				line-height: 1;
			}
		}
	}
	.required{
		order:1;
		display: inline-block;
		margin:0 10px 0 0;
		padding:0 5px;
		@include fz(12);
		line-height: 25px;
		color:#fff;
		background:$orange;
		@include min-screen($bp_tab_v) {
			margin:0;
		}
	}
}
.contact_form_field{
	padding:20px 15px;
	vertical-align: top;
	@include fz(16);
	@include min-screen($bp_tab_v) {
		display: table-cell;
		width:75%;
		padding:30px;
	}
	label{
		vertical-align: middle;
	}
	input[type="text"],
	input[type="email"],
	input[type="tel"],
	select,textarea{
		padding:10px;
		@include fz(16);
		border:1px solid #ccc;
		&:focus{
			border-color:$orange;
		}
	}
	.note{
		@include fz(12);
		line-height: 1.8;
		@include min-screen($bp_sp_h) {
			@include fz(16);
		}
	}
	.contact_check{
		display: inline-block;
		width:15px;
		height:15px;
		vertical-align: middle;
		border:1px solid #ccc;
		&:checked{
			background:$orange;
			border-color:$orange;
			border-radius:50%;
		}
	}
	.contact_select{
		width:100%;
		padding-right:40px;
		position: relative;
		z-index: 1;
		background:url(../images/contact-select.png) no-repeat right 5px center;
		background-size:25px;
		@include min-screen($bp_tab_v) {
			width:auto;
		}
	}
	.contact_message{
		width:100%;
		max-width:100%;
		height:200px;
		max-height:200px;
		line-height: 1.4;
	}
	.user_name{
		width:100%;
		@include min-screen($bp_tab_v) {
			width:60%;
		}
	}
	.user_name_kana{
		width:100%;
		@include min-screen($bp_tab_v) {
			width:60%;
		}
	}
	.user_email{
		width:100%;
		@include min-screen($bp_tab_v) {
			width:60%;
		}
	}
	.postal-code{
		width:80%;
		max-width:200px;
		margin-bottom:10px;
		@include min-screen($bp_tab_v) {
			width:30%;
		}
	}
	.user_address{
		width:100%;
	}
	.user_tel{
		width:100%;
		@include min-screen($bp_tab_v) {
			width:60%;
		}
	}
	.postal_icon{
		display: inline-block;
		margin-right:10px;
	}
}
.contact_form_field_check{
	@include min-screen($bp_tab_v) {
		background:url(../images/contact-document.png) no-repeat left 60% center;
		background-size:contain;
	}
	@include min-screen($bp_pc) {
		background-position:left 50% center;
	}
}
.contact_form_field_box{
	padding:0 0 5px;
}
.contact_policy{
	overflow-y:auto;
	max-height:200px;
	margin:0 0 30px;
	padding:30px 15px 50px;
	border:1px solid #ccc;
	border-top:none;
}
.contact_policy_caption{
	padding:0 0 10px;
	@include fz(16);
	color:$dgray2;
}
.contact_policy_inner{
	@include fz(14);
	line-height: 1.6;
	p{
		margin:0 0 20px;
	}
	li{
		margin:0 0 20px;
	}
}
//reserve *********************************************//
.reserve_contents{

}
.reserve_title_wrap{

}
.reserve_title{
	width:150px;
}
.reserve_visual{
	margin:0 0 60px;
	text-align: center;
	.caption{
		padding:30px 0 23px;
		text-align: center;
		font-family: $minchou;
		@include fz(24);
		line-height: 1.6;
		@include min-screen($bp_tab_v) {
			padding:60px 0 58px;
			@include fz(28);
			line-height: 1;
		}
		br{
			@include min-screen($bp_tab_v) {
				display: none;
			}
		}
	}
	.read{
		@include fz(14);
		line-height: 1.8;
		br{
			display: none;
			@include min-screen($bp_tab_v) {
				display: block;
			}
		}
	}
}
.select_field{
	display:flex;
}
.select_field_item{
	span{
		padding:0 10px 0 5px;
	}
}
.reserve_month{

}
.reserve_date{
	@include min-screen($bp_tab_v) {
	}
}
.reserve_time{

}
.confirm{
	display: none;	
	overflow-y: auto;
	-webkit-overflow-scrolling: touch;
	position:fixed;
	top:0;
	bottom:0;
	right:0;
	left:0;
	z-index: 9999;
	max-width:90%;
	height:90%;
	margin:auto;
	padding:50px 30px;
	background:#fff;
	dl{
		max-width:700px;
		margin:0 auto;
		padding: 0 0 50px;
	}
	dt{
		display: inline-block;
		margin:0 0 15px;
		@include fz(14);
		line-height: 1.4;
		border-bottom:1px solid $orange;
	}
	dd{
		margin:0 0 15px;
		@include fz(14);
		line-height: 1.4;
		font-weight: bold;
	}
	.btns_wrap{
		@include min-screen($bp_sp_h){
			display:flex;
			justify-content:space-between;
			@include center(540px);
		}
		.btn{
			margin-bottom:20px;
			transition:all .3s $ease-out-quad;
			@include min-screen($bp_sp_h){
				margin-bottom:0;
			}
			input[type="submit"]{
				width:100%;
				@include fz(15);
				line-height: 55px;
				&[disabled]{
					cursor:not-allowed;
				}
			}
		}
	}
	.back{
	}
}
//product detail common ********************************//
.product_detail_contents{

}
.product_detail_contents_inner{
	padding:0 15px;
	@include min-screen($bp_tab_v){
		padding:0 30px;
	}
	@include min-screen($bp_pc){
		@include center(1024px);
		padding:0 62px;
	}
}
//main visual
.product_detail_visual{
	position: relative;
	z-index: 1;
	height:200px;
	margin:30px 0 15px;
	background-repeat:no-repeat;
	background-position:center center;
	background-size:cover;
	@include min-screen($bp_tab_v){
		height:500px;
		margin:0 0 55px;
	}
}
.product_detail_logo{
	position: absolute;
	top:-45px;
	right:0;
	left:0;
	z-index: 10;
	@include center(120px);
	padding:20px;
	background:rgba(#fff,.8);
	@include min-screen($bp_tab_v){
		top:-90px;
		max-width:240px;
	}
}
//concept
.product_concept_title{
	padding:0 0 15px;
	text-align: center;
	font-family: $minchou;
	@include fz(24);
	line-height: 1.4;
	letter-spacing: .17em;
	@include min-screen($bp_tab_v){
		text-align:left;
		padding:0 0 15px;
		line-height: 1;
	}
	@include min-screen($bp_tab_h){
		@include fz(36);
	}
	span{
		display: block;
		width:90px;
		margin:0 auto;
		padding:0 0 10px;
		line-height:20px;
		@include min-screen($bp_tab_v){
			margin:0;
			padding:0 0 5px;
		}
		img{
			vertical-align: top;
		}
	}
	br{
		line-height: 1.4;
		@include min-screen($bp_tab_v){
			display: none;
			line-height: 1;
		}
	}
}
.product_concept_text{
	@include fz(14);
	line-height: 1.6;
	@include min-screen($bp_tab_h){
		@include fz(16);
		line-height: 1.8;
	}
	br{
		display: none;
		@include min-screen($bp_tab_h){
			display: block;
		}
	}
}
//concept plan
.product_concept_plan{
	margin:0 0 30px;
	@include min-screen($bp_tab_v){
		margin:0 0 170px;
	}
}
.product_concept_plan_title{
	text-align: center;
	margin:0 0 15px;
	font-family: $minchou;
	@include fz(24);
	line-height: 1.4;
	@include min-screen($bp_tab_v){
		margin:0 0 30px;
		line-height: 1;
	}
	@include min-screen($bp_tab_h){
		margin:0 0 65px;
		@include fz(32);
	}
	br{
		@include min-screen($bp_tab_v){
			display: none;
		}
	}
	span{
		display: block;
		@include center(140px);
		padding:0 0 15px;
		line-height: 25px;
		@include min-screen($bp_tab_v){
			padding:0 0 5px;
		}
		img{
			vertical-align: top;
		}
	}
}
.product_concept_plan_box{
	display:flex;
	flex-direction:column;
	@include min-screen($bp_tab_v){
		display: block;
	}
}
.product_concept_plan_inner{
	order:2;
	@include min-screen($bp_tab_v){
		display:flex;
		justify-content:space-between;
		width:100%;
	}
}
.product_concept_plan_item{
	margin: 0 0 15px;
	padding: 30px 20px;
	border: 10px solid $lgray;
	box-shadow: inset 0 0 0 10px rgba($black,.05);
	@include min-screen($bp_tab_v){
		width:25%;
		margin:0;
		padding:0;
		border:none;
		box-shadow:none;
	}
	.caption{
		text-align: center;
		padding:0 0 5px;
		@include fz(18);
		font-weight: bold;
		line-height: 1.6;
		color:$black;
		@include min-screen($bp_tab_v){
			text-align:left;
			@include fz(14);
			line-height: 1.4;
		}
		@include min-screen($bp_tab_h){
			@include fz(16);
		}
	}
	p{
		@include fz(15);
		line-height: 1.6;
		@include min-screen($bp_tab_v){
			@include fz(13);
		}
	}
}
.product_concept_plan_floor{
	order:1;
	position: relative;
	z-index: 1;
	margin:10px 0;
	text-align: center;
	&::before{
		content:"画像をタップすると拡大できます";
		display: inline-block;
		padding:5px;
		text-align: center;
		@include fz(12);
		font-weight: bold;
		color:$orange;
		@include min-screen($bp_tab_v){
			content:none;
		}
	}
	&::after{
		@include min-screen($bp_tab_v){
			content: "";
			display: block;
			position: absolute;
			top: 0;
			left: 0;
			z-index: 10;
			width: 100%;
			height: 100%;
		}
	}
	img{
		vertical-align: middle;
	}
}
//inner space
.product_inner_space{
	padding:0 0 30px;
	@include min-screen($bp_tab_v){
		padding:0 0 100px;
	}
}
.product_inner_space_title{
	margin:0 0 30px;
	font-family: $minchou;
	@include fz(24);
	line-height: 1.4;
	text-align: center;
	@include min-screen($bp_tab_v){
		line-height: 1;
	}
	@include min-screen($bp_tab_h){
		margin:0 0 65px;
		@include fz(32);
	}
	br{
		@include min-screen($bp_tab_v){
			display: none;
		}
	}
	span{
		display: block;
		@include center(130px);
		padding:0 0 15px;
		line-height: 25px;
		@include min-screen($bp_tab_v){
			padding:0 0 5px;
		}
		img{
			vertical-align: top;
		}
	}
}
.product_inner_space_grid{
	display:flex;
	flex-wrap:wrap;
	justify-content:space-between;
	padding:0 0 12px;
	@include min-screen($bp_tab_v){
		padding:0 0 88px;
	}
	.modal{
		width:48%;
		margin:0 0 18px;
		@include min-screen($bp_tab_v){
			width:32%;
		}
	}
	a{
		display: block;
	}
}
.product_btns{
	@include min-screen($bp_sp_h){
		display:flex;
		justify-content:center;
		flex-wrap:nowrap;
	}
	.btn{
		margin:0 auto 25px;
		letter-spacing: .17em;
		@include min-screen($bp_sp_h){
			margin:0 10px;
		}
		@include min-screen($bp_tab_v){
			max-width:205px;
			margin:0 25px;
		}
	}
}
.product_others{
	padding:45px 0;
	border-top:1px solid $dgray2;
	@include min-screen($bp_tab_v){
		padding:40px 0 0;
	}
}
.product_others_title{
	padding:0 0 30px;
	text-align: center;
	@include fz(18);
	color:$black;
}
.product_others_list{
	display:flex;
	flex-wrap:wrap;
	justify-content:space-between;
	@include min-screen($bp_tab_v) {
		padding:0 20px 60px;
	}
	@include min-screen($bp_pc) {
		@include center(1024px);
		padding:0 40px 60px;
	}
	li{
		overflow: hidden;
		width:48%;
		margin:0 0 15px;
		@include min-screen($bp_tab_v) {
			width:32%;
		}
	}
	.classica{
		@include min-screen($bp_tab_v) {
			order:1;
		}
	}
	.cafe{
		@include min-screen($bp_tab_v) {
			order:1;
		}
	}
	.hobby{
		@include min-screen($bp_tab_v) {
			order:1;
		}
	}
	.cube{
		@include min-screen($bp_tab_v) {
			order:4;
		}
	}
	.fit{
		@include min-screen($bp_tab_v) {
			order:4;
		}
	}
	.after{
		@include min-screen($bp_tab_v) {
			order:3;
		}
		.item_caption{
			background:$green;
		}
	}
	.reform{
		@include min-screen($bp_tab_v) {
			order:6;
		}
		.item_caption{
			background:$orange;
		}
	}
	a{
		overflow: hidden;
		position: relative;
		z-index: 1;
		display: block;
		&:hover{
			.item_bg {
				@include min-screen($bp_tab_v) {
					filter:brightness(80%);
				}
			}
			.item_logo{
				@include min-screen($bp_tab_v) {
					transform:scale(1.2);
				}
			}
		}
	}
	.item_bg{
		@include min-screen($bp_tab_v) {
			transition:all .3s $ease-out-quad;
		}
	}
	.item_logo{
		position: absolute;
		bottom:10px;
		left:10px;
		width:70px;
		padding:10px;
		background:#fff;
		@include min-screen($bp_sp_h){
			width:100px;
		}
		@include min-screen($bp_tab_v) {
			transform-origin:bottom left;
			transform:scale(1);
			transition:all .3s $ease-out-quad;
		}
	}
	.item_caption{
		display: block;
		position: absolute;
		top:0;
		left:0;
		z-index: 10;
		width:100%;
		text-align: center;
		@include fz(12);
		line-height: 50px;
		color:#fff;
		@include min-screen($bp_sp_h){
			@include fz(18);
			line-height: 70px;
		}
		@include min-screen($bp_tab_h){
			@include fz(20);
		}
	}
}
.modal{
	img{
		transition:all .3s $ease-out-quad;
	}
	a{
		display: block;
		&:hover{
			@include min-screen($bp_tab_v){
				img{
					filter:brightness(80%);
				}
			}
		}
	}
}

//product classica *************************************//
//main visual
.classica_visual{
	background-image:url(../images/classica-main.jpg);
}
//concept
.classica_concept{
	margin:0 0 30px;
	@include min-screen($bp_tab_v){
		margin:0 0 125px;
	}
}
.classica_concept_inner{
	@include min-screen($bp_tab_v){
		display:flex;
		flex-wrap:wrap;
		justify-content:space-between;
	}
}
.classica_concept_contents{
	padding:0 0 15px;
	@include min-screen($bp_tab_v){
		order:2;
		width:58%;
		padding:0 0 0 25px;
	}
}
.classica_concept_pic_01{
	margin:0 0 10px;
	@include min-screen($bp_tab_v){
		order:1;
		width:42%;
		margin:0 0 55px;
	}
}
.classica_concept_pic_02{
	margin:0 0 10px;
	@include min-screen($bp_tab_v){
		order:3;
		width:63%;
		margin:0;
	}
}
.classica_concept_pic_03{
	@include min-screen($bp_tab_v){
		order:4;
		width:35.1%;
	}
}
.clasica_guide{
	&::after{
		@include min-screen($bp_tab_v){
			background: url(../images/classica-guide.png) no-repeat center center;
			background-size: contain;
		}
	}
}
//cafe *********************************************//
.cafe_visual{
	background-image:url(../images/cafe-main.jpg);
}
.cafe_concept{
	margin: 0 0 30px;
	@include min-screen($bp_tab_v){
		margin: 0 0 125px;
	}
}
.cafe_concept_inner{
	@include min-screen($bp_tab_v){
		display:flex;
		justify-content:space-between;
	}
}
.cafe_concept_contents{
	@include min-screen($bp_tab_v){
		position: relative;
		z-index: 1;
		width:60%;
	}
	.product_concept_text{
		padding:0 0 15px;
		br{
			@include min-screen($bp_tab_v){
				display: block;
			}
		}
	}
}
.cafe_concept_pic_01{
	margin:0 0 10px;
	@include min-screen($bp_tab_v){
		position: absolute;
		bottom:0;
		left:0;
		z-index: 10;
		margin:0;
		padding:0 20px 0 0;
	}
}
.cafe_concept_pic_02{
	@include min-screen($bp_tab_v){
		width:40%;
	}
}
//inner space
.product_inner_space_grid_4{
	.modal{
		@include min-screen($bp_tab_v){
			width:24%;
		}
	}
}
//facilities
.product_facilities{
	padding:0 0 30px;
	@include min-screen($bp_tab_v){
		padding:0 0 100px;
	}
	a{
		display: block;
	}
}
.product_facilities_title{
	margin:0 0 30px;
	font-family: $minchou;
	@include fz(24);
	line-height: 1.4;
	text-align: center;
	@include min-screen($bp_tab_v){
		line-height: 1;
	}
	@include min-screen($bp_tab_h){
		margin:0 0 65px;
		@include fz(32);
	}
	br{
		@include min-screen($bp_tab_v){
			display: none;
		}
	}
	span{
		display: block;
		@include center(98px);
		padding:0 0 15px;
		line-height: 25px;
		@include min-screen($bp_tab_v){
			padding:0 0 5px;
		}
		img{
			vertical-align: top;
		}
	}
}
.product_facilities_inner{
	@include min-screen($bp_tab_v){
		display: table;
		table-layout: fixed;
		width:100%;
		padding:0 0 20px;
	}
}
.product_facilities_contents{
	padding:0 20px 30px;
	@include min-screen($bp_tab_v){
		display: table-cell;
		vertical-align: middle;
	}
	.caption{
		text-align: center;
		padding:0 0 5px;
		@include fz(18);
		font-weight: bold;
		line-height: 1.6;
		color:$black;
		@include min-screen($bp_tab_v){
			margin:0 0 10px;
			text-align:left;
		}
	}
	p{
		@include fz(15);
		line-height: 1.6;
		@include min-screen($bp_tab_v){
			@include fz(16);
		}
	}
	br{
		@include min-screen($bp_sp_h){
			display: none;
		}
	}
}
.product_facilities_pic_01{
	margin:0 0 10px;
	@include min-screen($bp_tab_v){
		display: table-cell;
		vertical-align: middle;
		width: 48.8%;
		margin:0;
	}
}
.product_facilities_list{
	display:flex;
	flex-wrap:wrap;
	justify-content:space-between;
	padding:0 0 20px;
	@include min-screen($bp_tab_v){
		padding:0 0 30px;
	}
	li{
		width:49%;
		margin:0 0 10px;
		@include min-screen($bp_tab_v){
			width:23%;
		}
	}
	a{
		display: block;
	}
}
.cafe_guide{
	&::after{
		@include min-screen($bp_tab_v){
			background: url(../images/cafe-guide.png) no-repeat center center;
			background-size: contain;
		}
	}
}
//hobby *********************************************//
.hobby_visual{
	background-image:url(../images/hobby-main.jpg);
}
//concept
.hobby_concept{
	margin:0 0 30px;
	@include min-screen($bp_tab_v){
		margin:0 0 125px;
	}	
}
.hobby_concept_inner{
	display:flex;
	flex-wrap:wrap;
	justify-content:space-between;
}
.hobby_concept_contents{
	width:100%;
	padding:0 0 15px;
	@include min-screen($bp_tab_v){
		order:2;
		width:52%;
		padding:30px 30px 15px;
	}
}
.hobby_concept_pic_01{
	width:48%;
	margin:0 0 10px;
	@include min-screen($bp_tab_v){
		order:1;
		width:24%;
		margin:0 0 20px;
	}
}
.hobby_concept_pic_02{
	width:48%;
	margin:0 0 10px;
	@include min-screen($bp_tab_v){
		order:3;
		width:24%;
		margin:0 0 20px;
	}
}
.hobby_concept_pic_03{
	width:100%;
	margin:0 0 10px;
	@include min-screen($bp_tab_v){
		order:4;
		width:48%;
		margin:0;
	}
}
.hobby_concept_pic_04{
	width:100%;
	@include min-screen($bp_tab_v){
		order:5;
		width:48%;
		margin:0;
	}
}
.hobby_guide{
	&::after{
		@include min-screen($bp_tab_v){
			background: url(../images/hobby-guide.png) no-repeat center center;
			background-size: contain;
		}
	}
}
//cube *********************************************//
.cube_visual{
	background-image:url(../images/cube-main.jpg);
}
.cube_concept{
	margin:0 0 30px;
	@include min-screen($bp_tab_v){
		margin:0 0 125px;
	}
}
.cube_concept_contents{
	padding:0 0 15px;
	@include min-screen($bp_tab_v){
		@include center(550px);
		padding:25px 0 90px;
	}
	.product_concept_text{
		line-height: 1.8;
		br{
			@include min-screen($bp_tab_v){
				display: block;
			}
		}
	}
}
.cube_concept_inner{
	display:flex;
	flex-wrap:wrap;
	justify-content:space-between;
}
.cube_concept_pic {
	width:32%;
}
//concept plan
.cube_concept_plan{
	.product_concept_plan_box{
		@include min-screen($bp_tab_v){
			margin:0 0 135px;
			padding:0 0 140px;
			position: relative;
			z-index: 1;
		}
		&::after{
			@include min-screen($bp_tab_v){
				content:"";
				display: block;
				position: absolute;
				right:0;
				bottom:0;
				left:0;
				z-index: 10;
				width:300px;
				height:8px;
				margin:auto;
				background:#000;
			}
		}
		&:last-child{
			margin:0;
			padding:0;
			&::after{
				@include min-screen($bp_tab_v){
					content:none;
				}
			}
		}
	}
}
.cube_floor_01{
	
}
.cube_floor_02{
	.cube_floor_bottom{
		@include min-screen($bp_tab_v){
			@include center(67%);
		}
		.product_concept_plan_item{
			@include min-screen($bp_tab_v){
				width:36%;
			}
		}
	}
}
.cube_floor_03{
	.cube_floor_bottom{
		@include min-screen($bp_tab_v){
			@include center(65%);
		}
		.product_concept_plan_item{
			@include min-screen($bp_tab_v){
				width:42%;
			}
		}
	}
}
.cube_page{
	.product_others_list{
		.hobby{
			@include min-screen($bp_tab_v) {
				order:4;
			}
		}
	}
}
.cube_guide_01{
	&::after{
		@include min-screen($bp_tab_v){
			background: url(../images/cube-guide-01.png) no-repeat center center;
			background-size: contain;
		}
	}
}
.cube_guide_02{
	&::after{
		@include min-screen($bp_tab_v){
			background: url(../images/cube-guide-02.png) no-repeat center center;
			background-size: contain;
		}
	}
}
.cube_guide_03{
	&::after{
		@include min-screen($bp_tab_v){
			background: url(../images/cube-guide-03.png) no-repeat center center;
			background-size: contain;
		}
	}
}
//fit *********************************************//
.fit_visual{
	background-image:url(../images/fit-main.jpg);
}
.fit_concept{
	margin:0 0 30px;
	@include min-screen($bp_tab_v){
		margin:0 0 125px;
	}
}
.fit_concept_contents{
	padding:0 0 15px;
	@include min-screen($bp_tab_v){
		@include center(550px);
		padding:25px 0 90px;
	}
	.product_concept_text{
		line-height: 1.8;
		br{
			@include min-screen($bp_tab_v){
				display: block;
			}
		}
	}
}
.fit_concept_inner{
	display:flex;
	flex-wrap:wrap;
	justify-content:space-between;
}
.fit_concept_pic {
	width:32%;
}
//concept plan
.fit_concept_plan{
	.product_concept_plan_box{
		@include min-screen($bp_tab_v){
			margin:0 0 135px;
			padding:0 0 140px;
			position: relative;
			z-index: 1;
		}
		&::after{
			@include min-screen($bp_tab_v){
				content:"";
				display: block;
				position: absolute;
				right:0;
				bottom:0;
				left:0;
				z-index: 10;
				width:300px;
				height:8px;
				margin:auto;
				background:#000;
			}
		}
		&:last-child{
			margin:0;
			padding:0;
			&::after{
				@include min-screen($bp_tab_v){
					content:none;
				}
			}
		}
	}
}
.fit_floor_01{
	
}
.fit_floor_02{
	.fit_floor_bottom{
		@include min-screen($bp_tab_v){
			@include center(67%);
		}
		.product_concept_plan_item{
			@include min-screen($bp_tab_v){
				width:36%;
			}
		}
	}
}
.fit_floor_03{
	.fit_floor_bottom{
		@include min-screen($bp_tab_v){
			@include center(65%);
		}
		.product_concept_plan_item{
			@include min-screen($bp_tab_v){
				width:42%;
			}
		}
	}
}
.fit_page{
	.product_others_list{
		.hobby{
			@include min-screen($bp_tab_v) {
				order:5;
			}
		}
	}
}
.fit_guide_01{
	&::after{
		@include min-screen($bp_tab_v){
			background: url(../images/fit-guide-01.png) no-repeat center center;
			background-size: contain;
		}
	}
}
.fit_guide_02{
	&::after{
		@include min-screen($bp_tab_v){
			background: url(../images/fit-guide-02.png) no-repeat center center;
			background-size: contain;
		}
	}
}
.fit_guide_03{
	&::after{
		@include min-screen($bp_tab_v){
			background: url(../images/fit-guide-03.png) no-repeat center center;
			background-size: contain;
		}
	}
}
//technology *********************************//
.tech_contents{

}
.tech_title_wrap{

}
.tech_title{
	max-width:225px;
}
.tech_contents_inner{
	padding:0 30px;
	@include min-screen($bp_tab_h) {
		padding:0 100px;
	}
	@include min-screen($bp_pc) {
		@include center(1024px);
	}
}
.tech_top{
	padding:0 0 45px;
	@include min-screen($bp_tab_v) {
		padding:20px 0 125px;
	}
	.caption{
		padding:0 0 23px;
		text-align: center;
		font-family: $minchou;
		@include fz(24);
		line-height: 1.6;
		@include min-screen($bp_sp_h) {
			@include fz(22);
		}
		@include min-screen($bp_tab_v) {
			padding:0 0 58px;
			@include fz(28);
			line-height: 1;
		}
		br{
			@include min-screen($bp_sp_h) {
				display: none;
			}
		}
	}
	p{
		@include fz(14);
		line-height: 1.8;
		@include min-screen($bp_tab_v) {
			text-align: center;
		}
		br{
			display: none;
			@include min-screen($bp_tab_v) {
				display: block;
			}
		}
	}
}
.tech_main{
	
}
.tech_group{
	@include min-screen($bp_sp_h) {
		display:flex;
		flex-wrap:wrap;
		justify-content:space-between;
	}
	.tech_item{
		@include min-screen($bp_sp_h) {
			width:48%;
		}
		@include min-screen($bp_tab_h) {
			width:43%;
		}
	}
}
.tech_group_01{
	@include min-screen($bp_sp_h) {
		position: relative;
		z-index: 1;
		padding:0 0 180px;
	}
	@include min-screen($bp_tab_v) {
		padding:0 0 280px;
	}
	&::after{
		@include min-screen($bp_sp_h) {
			content:"";
			display: block;
			position: absolute;
			right:0;
			bottom:5px;
			left:0;
			z-index: 10;
			width:100%;
			height:200px;
			margin:auto;
			background:url(../images/tech-construction.png) no-repeat bottom center;
			background-size:contain;
		}
		@include min-screen($bp_tab_v) {
			width:525px;
			height:260px;
		}
	}
}
.tech_group_02{
	@include min-screen($bp_tab_v) {
		padding:0 0 90px;
	}
}
.tech_item{
	padding:0 0 30px;
	@include min-screen($bp_tab_v) {
		padding:0;
	}
	p{
		@include fz(12);
		line-height: 1.6;
		color:$dgray2;
	}
	.pic{
		padding:10px 0 0;
		@include min-screen($bp_tab_v) {
			padding:0;
		}
	}
}
.tech_item_heading{
	padding:0 10px;
	@include fz(14);
	line-height: 30px;
	letter-spacing: .2em;
	background:$gray;
}
.tech_item_caption{
	padding:10px 0;
	@include fz(18);
	font-weight: bold;
	line-height: 1.4;
	letter-spacing: .075em;
}
.tech_item_inner{
	@include min-screen($bp_tab_v) {
		display:flex;
		justify-content:space-between;
	}
	p{
		@include min-screen($bp_tab_v) {
			width:60%;
		}
	}
	.pic{
		@include min-screen($bp_tab_v) {
			width:39%;
		}
	}
}
.tech_item_bottom{
	padding:0 0 45px;
	@include min-screen($bp_tab_v) {
		display:flex;
		justify-content:space-between;
		padding:0 0 100px;
	}
	.tech_item_heading{
		@include min-screen($bp_tab_v) {
			width: 87.5%;
			max-width:355px;
		}
	}
	.tech_item{
		@include min-screen($bp_tab_v) {
			width:55%;
		}
	}
	.pic{
		@include min-screen($bp_tab_v) {
			width:44%;
		}
	}
}
.tech_others_list{
	li{
		&:nth-child(4){
			@include min-screen($bp_tab_v) {
				margin-right:1%;
				margin-left:auto;
			}
		}
		&:nth-child(5){
			margin-right:auto;
			margin-left:auto;
			@include min-screen($bp_tab_v) {
				margin-left:1%;
			}
		}
	}
}
//404 *****************************************//
.not_found_contents{
	padding:0 0 50px;
	@include min-screen($bp_tab_v) {
		padding:50px 0;
	}
}
.not_found_title{
	text-align: center;
	@include fz(22);
	line-height: 1.6;
	font-weight: bold;
	@include min-screen($bp_sp_h) {
		@include fz(24);
	}
	@include min-screen($bp_tab_v) {
		@include fz(30);
	}
	br{
		@include min-screen($bp_sp_h) {
			display: none;
		}
	}
}
//complete *************************************//
.complete_contents{
	padding:0 0 50px;
	@include min-screen($bp_tab_v) {
		padding:50px 0;
	}
}
.complete_title_wrap{
	padding-bottom:15px;
	@include min-screen($bp_tab_v) {
		padding-bottom:30px;
	}
}
.complete_title{
	text-align: center;
	@include fz(18);
	line-height: 1.6;
	font-weight: bold;
	@include min-screen($bp_sp_h) {
		@include fz(24);
	}
	@include min-screen($bp_tab_v) {
		@include fz(30);
	}
	br{
		@include min-screen($bp_sp_h) {
			display: none;
		}
	}
}
.complete_intro{
	padding:20px;
	text-align: left;
	@include fz(14);
	line-height: 1.6;
	color:$dgray2;
	border:1px solid $gray;
}
.complete_contents_inner{
	margin:0 0 30px;
	padding:0 15px;
	@include min-screen($bp_tab_v) {
		padding:0 30px;
	}
	@include min-screen($bp_pc) {
		width:1024px;
		margin:0 auto 30px;
		padding:0 60px;
	}
}
@import "animation";